[2021-02-18 02:36] dabreegster commented on #72
Some specific to A/B Street:

- How could A/B Street help you with outreach about proposed transportation changes? Is it useful to visualize lane details and let people interactively "watch" their own commute?
- How much feedback do you solicit from the public about changes they'd like to see? Would accepting map edit proposals from A/B Street improve your processes or engage more people?
- What k

[2021-02-18 22:11] mvl22 commented on #91
Some good stuff here.

Patrick and I have been thinking of ensuring the key headlines for each site are clearly expressed through infographic representations, building on the examples already circulated.

I'd say a key thing remains ensuring that we have at least one or two key metrics for **within** the site, as these are most under the control of the develloper:

The first of these seems definit

[2021-02-18 22:20] mvl22 commented on #66
For me the best change to make would be to avoid a long period at the start where nothing happens. I think it's not really obvious to a new user the purpose of the visualisation if nothing seems to happen almost as soon as they load it - it's a classic discoverabilty UI issue.

Also, from a usability perspective, I would make the yellow progress bar under the time draggable. I've tried to manipula

[2021-02-18 22:29] dabreegster commented on #66
Thanks for the UX feedback -- definitely not off-topic, it's always super helpful to get more eyes on this!

Good point! I may try just starting by following somebody random. Or maybe if that's too invasive, flashing the "Follow someone" button a few times after the initial load.

(I'd also like to cut down the initial load time; lots of progress happened early January, but all the low-hanging fru

[2021-02-18 22:30] Robinlovelace commented on #91
#93

[2021-02-19 10:59] si-the-pie commented on #48
The information about how the quietness is calculated is old and incomplete.

The quietness values used in CycleStreets are shown at the percentage value for each highway type in the right most column at:
https://www.cyclestreets.net/views/osmHighwayTranslation/

Those are the initial values assigned to the ways based on the value of the `highway` tag. Then lots of inference rules are applied that

[2021-02-19 11:48] Robinlovelace commented on #93
Next step: write function that takes number of points, buffer size, and returns info on circuity for different modes.

- `circuity_walk`
- `circuity_cycle`
- `circuity_drive`

Will only do it for sites that have been built.

Stretch: % shared.

[2021-02-19 11:48] Robinlovelace commented on #93
Has it built yet (is it OSM).

[2021-02-19 12:29] Robinlovelace commented on #45
Summary data for you @mvl22

![image](https://user-images.githubusercontent.com/1825120/108504611-16f59000-72ae-11eb-9e12-1ce1d2288a79.png)

[2021-02-19 12:29] Robinlovelace commented on #45
![image](https://user-images.githubusercontent.com/1825120/108504631-1ceb7100-72ae-11eb-834c-fc407c4d3c14.png)

[2021-02-19 13:15] Robinlovelace commented on #45
Update for you guys, here are the plots side by side:

![image](https://user-images.githubusercontent.com/1825120/108509005-92f2d680-72b4-11eb-9753-f3974af2e574.png)

[2021-02-19 13:16] Robinlovelace commented on #45
@joeytalbot will generate png plots per site like this - suggest we go for 0-3 as the first category.

[2021-02-19 13:30] Robinlovelace commented on #45
Wow. Shows that in some places even with the best infra in the world it's going to be hard to get people walking and cycling.

[2021-02-19 15:41] Robinlovelace commented on #85
Ideas building on the graphics

![image](https://user-images.githubusercontent.com/1825120/108526388-fe46a380-72c8-11eb-8a2e-dc2ba55a978a.png)

[2021-02-19 16:44] mvl22 opened #97 "Add photos of the sites"
Branched from #31.

Add photos of the sites, and enable these in the UI.

https://www.cyclestreets.net/photomap/add/

[2021-02-19 16:49] mvl22 commented on #97
I've now added a photos layer.

To make an image appear, go to the [CycleStreets Photomap](https://www.cyclestreets.net/photomap/), add it there, and make sure you include the tag `actdev` under tags.

I have tagged a few of the many existing images from the Trumpington Meadows estate by way of an example. I can use my curator's privilege to add tags to other images if you let me know the numbers.

[2021-02-19 17:01] mvl22 commented on #97
Great Kneighton also added.

![Screenshot 2021-02-19 at 17 00 31](https://user-images.githubusercontent.com/361423/108536171-0821d400-72d4-11eb-8f85-61fc999a1277.png)

[2021-02-19 17:28] Robinlovelace commented on #93
Great to see, thanks @joeytalbot !

[2021-02-19 17:29] mvl22 commented on #97
Thanks. Just to say that if you have several hundred, but the image files include geolocation metadata, there is a mass-import system at:
https://www.cyclestreets.net/photomap/add/multiple.html

It's a bit rudimentary, but for hundreds of images it saves a lot of time.

[2021-02-20 20:40] dabreegster commented on #66
I tried some variations of this:
![Screenshot from 2021-02-20 12-37-22](https://user-images.githubusercontent.com/1664407/108607994-aff0dd80-7378-11eb-86fe-4b495be51a4c.png)
![Screenshot from 2021-02-20 12-32-30](https://user-images.githubusercontent.com/1664407/108607995-b0897400-7378-11eb-96e4-c5ce89ff7290.png)
![Screenshot from 2021-02-20 12-32-15](https://user-images.githubusercontent.com/1664

[2021-02-20 20:53] michaelkirk commented on #66
Hmm, I'd never really thought about it before, but yeah, if there's a way to combine the "active trips" UI into the map controls, and get rid of that top/right panel all together... I'd love to see less control clutter.

[2021-02-22 13:35] Robinlovelace commented on #93
I'm working on this.

[2021-02-22 13:50] Robinlovelace commented on #93
See below the approach. Heads-up @joeytalbot

![](https://i.imgur.com/ApMnNML.png)

<details>

[code]

![](https://i.imgur.com/fIdLp3q.png)

[code]

![](https://i.imgur.com/ApMnNML.png)

[code]

<sup>Created on 2021-02-22 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-22 13:53] Robinlovelace commented on #93
In-site walkability:

[code]

[2021-02-22 13:55] Robinlovelace commented on #93
Results for Great Kneighton look good:

[code]

[2021-02-22 13:57] Robinlovelace commented on #93
Not bad for cycling:

[code]

[2021-02-22 14:11] Robinlovelace commented on #93
Heads-up @joeytalbot, @mvl22 and @Siequnu here's a site level infographic. This highlights the wider issue: we need project level colours for each mode of transport, something that would have been good to have earlier, e.g. in #48, but I've gone for:

- [ ] Walk: blue
- [ ] Cycle: green
- [ ] Car: red

Can we do better than this? Loving how it's looking in any case, sure we can improve on this:

!

[2021-02-22 15:00] Robinlovelace commented on #93
Next step on this: move into main code folder and add new columns to `all-sites.geojson`. @joeytalbot is up for giving it a go. I'm happy to have a bash at it on Weds evening if not sorted by then.

[2021-02-23 10:26] joeytalbot opened #99 "Walking route problem"
Circuity of walking routes is abnormally high in Ebbsfleet. This is why:

![Screenshot from 2021-02-23 10-24-51](https://user-images.githubusercontent.com/52210872/108830654-870f5900-75c1-11eb-93a6-f426c3fdef00.png)

[2021-02-23 10:27] joeytalbot opened #100 "Negative walking numbers"
In Tresham (a remote rural site) the Go Active scenario is giving negative numbers of people walking to work.

[2021-02-23 10:32] Robinlovelace commented on #100
Well spotted. Can you share a link to the data file showing it? I'm just looking at https://raw.githubusercontent.com/cyipt/actdev/main/data-small/tresham/desire-lines-few.geojson and cannot see any negative numbers associated with Go Active.

[2021-02-23 10:36] Robinlovelace commented on #93
Plan is for @joeytalbot to work on this today and put files like `site-routes-walk.geojson`, `site-routes-cycle.geojson` and `site-routes-drive.geojson` in folders associated with sites that have actually been built. One question for @mvl22 on the UI side, would it be possible/desirable for the UI to be able to show these on-site routes?

[2021-02-23 10:38] Robinlovelace commented on #93
I think the infographic above could also be improved, leading to files like `on-site-infographic.png` in the site folders.

[2021-02-23 12:07] Robinlovelace commented on #99
Good fix. Can you add a link to the line of code that fixes it? Thinking about phase II, wondering how we can generalise fixes for edge cases like this. Closing for now in any case, great work!

[2021-02-23 12:07] #99 closed

[2021-02-23 12:09] Robinlovelace commented on #100
Interesting. Do you know the cause of that? My understanding was that the `percent_*` columns in `all-sites.geojson` was derived from the data in `desire-lines-few.geojson`, wondering if there's a bug in the code that generates those percentages.

Or do the `percent` columns start from a different input dataset, not [desire-lines-few.geojson](https://raw.githubusercontent.com/cyipt/actdev/main/dat

[2021-02-23 12:12] Robinlovelace commented on #100
Another question, if the issue is about the `percent_` columns and not negative walking values, should the title of this issue be updated accordingly?

[2021-02-23 12:14] Robinlovelace commented on #100
I've found the offending line:

[code]

I don't think this is a priority, worth getting to the bottom of it after the workshop I think.

[2021-02-23 12:17] Robinlovelace commented on #100
Heads-up @joeytalbot I've just created a new milestone for tracking fairly minor issues like this that we can fix after the workshop: https://github.com/cyipt/actdev/milestone/4

You up for taking a look at the issue at some point? Please assign yourself if so. Otherwise I'm happy to take a look and make further updates to the scenario generation code.

[2021-02-23 12:18] Robinlovelace commented on #93
Cheers for the update, any figures/outputs welcome. Good you're taking a look at the data and doing sanity checks rather than just accepting the data at face value, wonder what is going on.

[2021-02-23 12:29] Robinlovelace commented on #93
I think that's because `cyclestreets::journey()` generated data per segment while `stplanr::route_osrm()` generates data per route.

[2021-02-23 12:31] Robinlovelace commented on #93
Quick fix: use `route_osrm()` for all modes (walking and driving currently, I suggest setting `osrm.profile = "bike"` as documented here: https://docs.ropensci.org/stplanr/reference/route_osrm.html

Or you could adapt the code to accomodate the segment level outputs from the `journey()` function. The quick fix is probably quicker and more consistent so I would go with that.

[2021-02-23 14:17] Siequnu commented on #93
We can show any geojson we like, and I’ve built a scrollable site-data menu so we can potentially expand the current set.

Once we have a working site-level zoom site I’d say we can spend a few days end of next week optimising exactly which layers get shown.

[2021-02-23 15:04] Robinlovelace commented on #99
I guess you meant this line @joeytalbot ?

https://github.com/cyipt/actdev/blob/67a911387a38d31fe4351d741d66922a189024a7/code/scenarios-streamlined.R#L475

FYI you can copy permalinks to lines code as documented here, really handy feature: https://docs.github.com/en/github/managing-your-work-on-github/creating-a-permanent-link-to-a-code-snippet

[2021-02-23 15:08] Robinlovelace commented on #93
Interesting and well spotted. Idea: use `lwgeom::st_start_point()` and `lwgeom::st_end_point()` to update the start and end points after the driving routes have been calculated. What do you reckon @joeytalbot ?

Very glad this was discovered early as it would have been a struggle to explain some results based on these flawed routes (also wonder what % it's affecting).

[2021-02-23 15:28] Robinlovelace commented on #93
Great. So plan is to go with something like this?

https://github.com/cyipt/actdev/blob/e19f56c6b241f2f62917b3a9ab0bab40208205cd/code/tests/in-site-metrics.R#L48-L68

In fact I've made a PR on this: #101

[2021-02-23 15:48] Robinlovelace commented on #93
Great work, look forward to seeing the data + relative circuity values generated but this updated script.

[2021-02-23 15:54] aspeakman commented on #13
As requested I have now created a dump of all Large planning applications across the UK based on the new classification rules using the 'n_dwellings' field ( NewLarge.zip attached to the 0.1.1 release https://github.com/cyipt/actdev/releases/tag/0.1.1).

There are approx 201,000 applications this time (as opposed to 104,000 previously)

[2021-02-23 16:03] Robinlovelace commented on #13
Fantastic, thank you @aspeakman. I have some thoughts on how to get this analysed but for now priority for @joeytalbot and I is to get #11 going.

[2021-02-23 16:04] mvl22 commented on #93
Yes.

[2021-02-23 17:17] Robinlovelace commented on #93
Just taking a look for allerton bywater, looking good to me!

![image](https://user-images.githubusercontent.com/1825120/108881274-08cfa880-75fb-11eb-837a-350692779b22.png)

[2021-02-23 17:18] Robinlovelace commented on #93
The rnet values give a good indication of centrality on the in-site transport network:

![image](https://user-images.githubusercontent.com/1825120/108881397-2bfa5800-75fb-11eb-8aac-998d7a3866fa.png)

[2021-02-23 17:18] Robinlovelace commented on #93
Source: https://github.com/cyipt/actdev/blob/main/data-small/allerton-bywater/in-site-cycle-rnet.geojson

[2021-02-23 17:19] Robinlovelace commented on #93
Walking routes look a bit more direct, as expected.

![image](https://user-images.githubusercontent.com/1825120/108881516-4df3da80-75fb-11eb-897b-c5af13c3574a.png)

Source: https://github.com/cyipt/actdev/blob/main/data-small/allerton-bywater/in-site-walk-rnet.geojson

[2021-02-23 17:23] Robinlovelace commented on #93
And great to see the updated info in `all-sites.geojson`. Heads-up @mvl22 and @Siequnu these new columns are ready to go and should be in the `site.geojson` file soon. Even more site metrics, closing this ahead of schedule :tada:

Any further issues on this you see @mvl22 let us know but I think there's plenty to visualise now and that this will greatly improve the prototype app and hopefully the

[2021-02-23 17:23] #93 closed

[2021-02-23 17:23] Robinlovelace commented on #93
![image](https://user-images.githubusercontent.com/1825120/108882026-d96d6b80-75fb-11eb-966b-5617f5bbe5df.png)

[2021-02-24 11:01] Robinlovelace commented on #48
Closing because we have decided and because this issue has been superseded by https://github.com/cyipt/actdev-ui/issues/23

[2021-02-24 11:01] #48 closed

[2021-02-24 11:37] Siequnu opened #102 "Inconsistent headers in mode-split css"
https://github.com/cyipt/actdev/blob/main/data-small/great-kneighton/mode-split.csv

https://github.com/cyipt/actdev/blob/main/data-small/aylesbury/mode-split.csv

Great Kneighton seems to be the outlier with percent_walk_base, whereas most other files have pcycle_base.

Overall, the mode-split CSV files are quite a mixed bag, both in terms of missing/additional keys, and inconsistent naming.

Sha

[2021-02-24 11:43] Robinlovelace opened #103 "Update ClockBoard infographic colour for NAs"
See https://github.com/cyipt/actdev-ui/issues/23#issuecomment-785017990

[2021-02-24 11:47] Robinlovelace opened #104 "Change resolution of site infographics"
Could happen after main website is up, not a priority.

[2021-02-24 11:51] Robinlovelace commented on #104
It would be good if the user could see where car and walking/cycling routes overlap. Hard to see scale, which is inconsistent, in width legends:

![image](https://user-images.githubusercontent.com/1825120/108996661-8f859380-7696-11eb-9b52-e03ff658ce1c.png)

[2021-02-24 11:55] #85 closed

[2021-02-24 11:56] Robinlovelace commented on #45
We can close this when pngs per scenario (baseline/go_active) have been generated per site. See https://github.com/cyipt/actdev-ui/issues/23

[2021-02-24 11:57] Siequnu commented on #104
Breaking out the legend into a separate PNG in almost all cases will be an advantage, as we can size that larger than the main map.

This will be worth doing for the kind of map charts shown above that can't be easily generated with chart.js or a similar library.

[2021-02-24 12:07] Robinlovelace commented on #104
If you make graphics using JavaScript wouldn't you also want to create the legends in JavaScript @Siequnu ? That would seem most logical and consistent to me: either have the infographics and legends as pngs or as svg/similar rather than mixing these file formats. Happy to go with all png generated by code in this repo as a default and to see generating infographics in JS as a stretch.

[2021-02-24 12:09] Robinlovelace commented on #102
You up for taking a look at this @joeytalbot ?

[2021-02-24 12:09] Siequnu commented on #104
That's right, what I'm referring to is the two different types of visual information we have — bar charts, stacked charts, etc which are easy to generate with a JS library, and then we have the spider graphs, map-based charts, and radars which are trickier and much further down the property list.

[2021-02-24 12:11] Siequnu commented on #104
I don't envisage generating with JS the second, more complex type of graphic mentioned above any time soon, so it would be good for those kinds of graphics to have the changes mentioned (background, font-colour, labels) and a separately embeddable legend, so that it's legible even with the smaller thumbnail size charts we have.

[2021-02-24 12:14] Robinlovelace commented on #104
OK but I still don't think the suggestion to split up legends from their graphics suggested here

Is a good idea - I can think of several disadvantages of doing that. Let's go with default being the PNGs listed in https://github.com/cyipt/actdev-ui/issues/23 for now as a placeholder and then they can be incrementally replaced by better JS, html (which can be produced from R easily) and of course P

[2021-02-24 12:21] Siequnu commented on #104
That's a good point — and your suggestion is definitely more scalable. Let's go with that - expecting we can start that late next week/early the following.

[2021-02-24 12:53] Siequnu opened #105 "Most sites missing buildings_od geojson"
The majority of sites are missing the buildings_od geojson. This is a really cool sub-layer and would be great if these could be added.

[2021-02-24 12:55] Siequnu opened #106 "Many sites missing dartboard-1-3-6km.geojson"
This is a really great overlay — can this be added to all sites?

[2021-02-24 13:29] Siequnu opened #107 "All sites vs individual site data"
There's a lot of discrepancy between the data present in the [all-sites.geojson](https://github.com/cyipt/actdev/blob/main/data-small/all-sites.geojson), which appears to be the most up to date source, the corresponding [all-sites.csv](https://github.com/cyipt/actdev/blob/main/data-small/all-sites.csv), and then the various .csv files in the individual site folders.

Furthermore, [Issue #19 ](http

[2021-02-24 13:38] Siequnu commented on #107
This is mentioned in #91  as well.

Might be a good time for a quick check to make sure we aren't duplicating unnecessary data.

[2021-02-24 13:57] Robinlovelace commented on #105
Yes, and something mentioned by @MeganStreb is that a simple 'Trip attractors' layer showing schools, shops etc could be good. Not an MVP so will mark as a stretch issue but doable. This was just a byproduct of #28, good co-benefit of going down to the building level. I'm up for taking a look at some point so assigning to me.

[2021-02-24 13:58] Robinlovelace commented on #106
It's been replaced by [dartboard.geojson](https://github.com/cyipt/actdev/blob/main/data-small/chapelford/dartboard.geojson).

[2021-02-24 13:58] #106 closed

[2021-02-24 13:59] Robinlovelace commented on #107
Good point. Assigning Joey and this is a known issue at this point while the data side is in flux.

[2021-02-24 16:23] #45 closed

[2021-02-24 16:30] Robinlovelace commented on #45
:tada:

[2021-02-24 16:39] Robinlovelace commented on #102
Great work Joey, on fire :fire:

Can you take a look when you get a chance @Siequnu and close if happy with the result?

Many thanks!

[2021-02-24 16:46] Robinlovelace commented on #107
As with #102 do check and let us know Patrick. Thanks.

[2021-02-24 16:54] Robinlovelace commented on #72
This is looking great. A few quick comments:

Is that really necessary? I think "In which settlement types are you most interested in?" will be more relevant to practitioners.

I think a free text question along the lines of "What tools do you currently use for assessing walking and cycling provision and potential in/around sites?" with a free text or options like:

- [ ] Google Maps
- [ ] PCT
- [

[2021-02-24 17:53] Robinlovelace commented on #13
Could you provide a few sentences on this updated definition and maybe even a few numbers/graphs for the report @aspeakman? See #95. Then we can close this. Great work.

[2021-02-24 21:19] Robinlovelace commented on #35
![image](https://user-images.githubusercontent.com/1825120/109067137-05fdb200-76e6-11eb-8652-3fcb3006dfc5.png)

Great Kneighton start of day.

[2021-02-24 21:21] Robinlovelace commented on #35
![image](https://user-images.githubusercontent.com/1825120/109067267-334a6000-76e6-11eb-9a04-a971af34db5e.png)

End of day.

[2021-02-24 21:41] dabreegster commented on #35
To clarify how to find commercial places in OSM: sometimes the way or relation representing the building has useful tags, but often not. For example, https://www.openstreetmap.org/way/191546286 just has `building=yes`. You need to import all of the nodes and look for things like `amenity=...` -- example https://www.openstreetmap.org/node/298858209. If you wanted to match that to a building, you ha

[2021-02-24 21:42] mvl22 opened #108 "Walk routes using only single origin produces bogus results"
Looking at the Poundbury site, the use of having a single origin for walk routes produces a very artificial result.

The problem is that the northern half of the development would presumably walk over this Way, distorting the walk routing:
https://www.openstreetmap.org/way/566932132#map=17/50.71407/-2.45753&layers=N

This is not ideal for cycling either, but is probably acceptable for a prototype,

[2021-02-24 21:46] mvl22 commented on #108
NB I've added a couple of Notes asking whether the north-east and south-east of the site are strictly footways or whether they are shared-use to permit cycling:

https://www.openstreetmap.org/note/2553985
https://www.openstreetmap.org/note/2553998

(This is just for background info - not relating to the walking point above directly.)

[2021-02-24 22:29] Robinlovelace commented on #35
Update:

![image](https://user-images.githubusercontent.com/1825120/109074523-c50a9b00-76ef-11eb-8b57-b3731561f723.png)

[2021-02-24 22:54] Robinlovelace commented on #37
Closing as over a week with no activity and to some extent the considerations have been bottomed out. Largely replaced by https://github.com/cyipt/actdev-ui/issues/13

[2021-02-24 22:54] #37 closed

[2021-02-24 22:57] #35 closed

[2021-02-24 22:58] Robinlovelace commented on #58
Is this one easy to do @mvl22 / @joeytalbot ? One of the few MVP issues still open.

[2021-02-24 22:59] #64 closed

[2021-02-24 23:00] Robinlovelace commented on #64
While this isn't complete I think it's out of scope for this project and requires a rethink for Phase II.

[2021-02-25 01:32] Siequnu commented on #102
Looking great, thanks @joeytalbot.

[2021-02-25 01:32] #102 closed

[2021-02-25 01:33] Siequnu commented on #105
Could buildings be done as a MVP, rather than stretch? Otherwise I'll remove that layer, as it's currently foreseen in the design.

[2021-02-25 02:45] Siequnu opened #109 "Document data dictionaries, collections, and layers"
Some guide to the data the team has generated might be useful, both for newcomers to the project and so to gain clarity when analysing the data.

@joeytalbot has made great progress even in the last 24 hours clearing up and inconsistencies — it might be useful at a later stage to have some short guide/flowchart/hierarchy illustrating which and where we can find the most important files of the proj

[2021-02-25 03:47] Robinlovelace commented on #105
It depends what you mean by buildings. Do you mean buildings within the site boundary? If so yes. Otherwise I think pre-determined 'Destinations' such as shops, schools, (and maybe office buildings) etc is a higher priority as a layer. That would be better than the dump of all buildings. Note that to fix https://github.com/cyipt/actdev/issues/35 I greatly broadened the definition of a building.

[2021-02-25 04:53] Siequnu commented on #105
I'm happy with any of those — for me the priority is understanding which data layers to expose in the UI. Currently the buildings layer can (only?) be seen on the Great Kneighton site.

If a destinations geojson file is generated for each site I can quickly swap out the current buildings API call and visual toggle for that layer.

<img width="545" alt="Screenshot 2021-02-25 at 12 52 46" src="https

[2021-02-25 05:04] Robinlovelace commented on #105
Plan:

- [x] create `site_buildings.geojson` as that looks good
- [x] create `trip_attractors.geojson` which is an important layer to show range of places people may need to visit beyond town and work.

[2021-02-25 08:17] aspeakman commented on #13
Yes working on this now.

[2021-02-25 12:45] mvl22 commented on #104
The legend isn't legible as it is.

It'll be moved to JS as agreed above, but in the short term the current size must be increased as it literally can't be read.

[2021-02-25 15:49] Siequnu opened #110 "8 sites missing in-site-metrics.csv"
- [ ] Handforth
- [ ] Halsnead
- [ ] Tresham
- [ ] Long Marston
- [ ] Dunton Hills
- [ ] Culm
- [ ] Bailrigg
- [ ] Ashton

[2021-02-25 15:51] Robinlovelace commented on #110
These haven't yet been built. There is a 'built' TRUE/FALSE variable somewhere that defines this. Reasoning: hard to calculate metrics for places that do not yet exist.

[2021-02-25 15:53] Siequnu opened #111 "Switch mode-split chart to horizontal stacked bar chart"
![mode-split-base](https://user-images.githubusercontent.com/11821606/109178987-66fbb780-77c4-11eb-9729-147b35ca9dc9.png)

It's currently a vertical stacked bar chart — can we change this to horizontal?
This will increase the legibility in horizontal layouts and allow me to expand the size.

<img width="1603" alt="Screenshot 2021-02-25 at 23 52 30" src="https://user-images.githubusercontent.com/11

[2021-02-25 15:58] Robinlovelace commented on #111
Could do but I'm not convinced, easier to interpret as vertical stacked graph. Also I want to focus on MVP issues and this isn't one so skeptical that this is a good use of time at this stage. Good to see updated colours, which is MVP:

![image](https://user-images.githubusercontent.com/1825120/109179837-36932980-7782-11eb-9beb-5df38e7bd79c.png)

Although I think the colourscheme needs a bit more

[2021-02-25 16:03] Siequnu commented on #111
This isn't an updated colour scheme — it's simply an inverted image to match the white background with the site background, until the graphs can be produced with the background and colour I [mentioned here](https://github.com/cyipt/actdev-ui/issues/23#issuecomment-785020455).

[2021-02-25 16:45] Robinlovelace commented on #111
OK but you see the need to decide colours for each mode before generating the plots?

Of the colourschemes I've seen so far of plots generated using code in this project I think these two are the most viable (I have a mild preference for the top one but imagine we can do better than that):

![image](https://user-images.githubusercontent.com/1825120/109186311-b2907000-7788-11eb-8401-49c02b69644b.pn

[2021-02-25 17:37] Robinlovelace commented on #111
Moving discussion of colourschemes for modes to a new issue, this is going off topic.

[2021-02-25 17:46] Robinlovelace opened #112 "Colourscheme for transport modes"
This is really a design issue but opening here as the code used to address it in the first instance, via pngs, will likely live in this repo.

Here are some colourschemes!

Which do you like best/worst? Any ideas welcome, especially if they come with updates to the code below.

<details>

[code]

[2021-02-25 17:46] Robinlovelace commented on #112
[code]

![](https://i.imgur.com/rw5MziJ.png)

[code]

![](https://i.imgur.com/JmtIfsd.png)

[code]

![](https://i.imgur.com/y009q8c.png)

[code]

![](https://i.imgur.com/8DAZOf8.png)

[code]

![](https://i.imgur.com/q2e3K1b.png)

[code]

<sup>Created on 2021-02-25 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-25 17:47] Robinlovelace commented on #112
Of those I my updated preference is this:

https://www.colourlovers.com/palette/92095/Giant_Goldfish

![image](https://user-images.githubusercontent.com/1825120/109194770-abba2b00-7791-11eb-83b2-343834975108.png)

Thoughts and other palettes from @Siequnu and others welcome (note the background is transparent I think).

[2021-02-25 17:53] Robinlovelace commented on #112
Another consideration: integration with A/B Street. This is what it would look like with those colours:

...

[2021-02-25 17:55] dabreegster commented on #112
And inversely, abst's color scheme is customizable (we have a day and night mode already) -- we can make it look like the rest of the actdev UI.

[2021-02-25 17:55] mvl22 commented on #111
Bear in mind that we have a landscape-shaped space to put a chart in. Therefore, the bars will be flattened downwards, meaning that e.g. 10% cycling will appear with a very thin bar, making differences hard to see. A left/right chart would probably show the differences more clearly.

I'd welcome at least seeing an example of the chart to understand why a vertical chart is supposedly better. To me

[2021-02-25 17:59] Robinlovelace commented on #112
Thanks Dustin, yes I guess you could also change the colours your side. Any preferences from those above? I'm going to try with these colours now to see how the barplot looks: https://github.com/a-b-street/abstreet/blob/e0fd8dd369e2285300d165a0e36a329b4d1d6f12/map_gui/src/colors.rs#L242-L245

[2021-02-25 18:01] Robinlovelace commented on #112
Groovy!

[code]

![image](https://user-images.githubusercontent.com/1825120/109196331-7adaf580-7793-11eb-8497-134325a8c603.png)

[2021-02-25 18:02] mvl22 commented on #112
Other/drive are barely distinguishable in that. I suspect a lot of people won't be able to see that difference.

[2021-02-25 18:03] dabreegster commented on #112
The first looks the most likely to contrast. In day mode, arterials are orange:
![Screenshot from 2021-02-25 10-01-51](https://user-images.githubusercontent.com/1664407/109196388-7e00c200-7750-11eb-99cb-ff41eb3abc88.png)
But this can become a rabbit-hole -- the day & night mode color scheme for everything on the map is by no means finalized; it's just the best we've found so far. If we like a part

[2021-02-25 18:03] Siequnu commented on #112
As the colour scheme for the UI I suggest walk: #457b9d, bike #90be6d, other #ffd166 and car #fe5f55. The colours are consistent with the modes, present good contrast for a dark background, and match the other UI element colour schemes.

Chart.JS view of how it looks on the site.

<img width="1611" alt="Screenshot 2021-02-26 at 02 02 25" src="https://user-images.githubusercontent.com/11821606/1091

[2021-02-25 18:03] Robinlovelace commented on #112
OK other palettes suggestions welcome. Here's the A/B Street one:

![image](https://user-images.githubusercontent.com/1825120/109196572-c42b4500-7793-11eb-8bb3-9b856e1d163b.png)

[2021-02-25 18:04] Robinlovelace commented on #112
Finally some hex colours, thank you, will try :tada:

[2021-02-25 18:05] Robinlovelace commented on #112
My new fave I think (will look better in png outputs):

![image](https://user-images.githubusercontent.com/1825120/109196812-19675680-7794-11eb-88c6-05ed58365f6e.png)

[2021-02-25 18:08] mvl22 commented on #112
Yes, that works well in my view.

That set of colours looks very clear and pleasing to me. (Are these the same as Patrick's hex set?)

[2021-02-25 18:08] michaelkirk commented on #112
👍 Looks good to this person with deuteranopia (red/green color blind).

[2021-02-25 18:10] Robinlovelace commented on #111
If the proposal is to change the pngs, which are planned to be implemented as JS vector graphics in any case, I think the onus is on the person proposing the change to provide a good reason. More important and much close to MVP territory is aspect ratios. What is best: 4:3, 1:1, or what? Numbers and images can speak louder than words at this stage. Mock-ups and info on pixels/sizes v. welcome..

[2021-02-25 18:10] dabreegster commented on #112
![Screenshot from 2021-02-25 10-09-20](https://user-images.githubusercontent.com/1664407/109197239-9b825b80-7751-11eb-99e9-5ac5fcf73d1d.png)
![Screenshot from 2021-02-25 10-08-58](https://user-images.githubusercontent.com/1664407/109197240-9c1af200-7751-11eb-9c96-ddad1a9a74d4.png)
They look pretty good in day mode, and maybe the only adjustment night mode would need is changing the color of reside

[2021-02-25 18:11] Robinlovelace commented on #112
Yes, thought that was self evident but good to be specific.

[2021-02-25 18:14] Robinlovelace commented on #112
So I think after a last minute sprint and after much nudging from me, I think we have a final colourscheme for the modes in the ActDev project that can also help with integration. :tada:

Suggest as with #48 that we close this issue when the colourscheme has actually been deployed. Big progress towards closing the bigger issue https://github.com/cyipt/actdev-ui/issues/23.

[2021-02-25 20:48] Robinlovelace commented on #112
Update in for Great Kneighton:

![image](https://user-images.githubusercontent.com/1825120/109215261-d664ad80-77aa-11eb-937a-d97e113d2cf5.png)

See rich diff here: https://github.com/cyipt/actdev/commit/423a466cd42a66872ae3bb0d632bd30440ea6aed?short_path=f7a5e1c#diff-f7a5e1c8ae0d3eee3930d6a429bb35ad2a38aedf00148f9bb409d19bd0c8ea9b

[2021-02-26 00:47] mvl22 commented on #58
This was a request to Joey, but we can then pick them up in the UI.

[2021-02-26 00:58] mvl22 commented on #72
If you are going to ask this, it needs a longer list (I'm not sure what the entries would be), and put GMaps at the end as that's not a proper assessment tool.

[2021-02-26 00:59] mvl22 commented on #110
Reopening so that @Siequnu can validate that this scenario is properly handled.

[2021-02-26 01:04] mvl22 commented on #112
Glad we got there on this!

I think this backs up the point made earlier that it's hard to get a final colour scheme for a design until the rest of the design concept has been created - a good colour scheme is an integral part of a design.

Those colours also work nicely in A/B Street - great!

[2021-02-26 01:07] Robinlovelace commented on #110
Shouldn't issues that can be fixed with code in the ui repo be tracked there? Will leave this one here for now but in general I suggest that is how we use issues: to track clearly actionable and well-defined tasks that have been decided on and can be fixed in code. On a wider note, comparing https://github.com/cyipt/acton/issues with https://github.com/cyipt/actdev/issues I think we've used issues

[2021-02-26 01:10] mvl22 commented on #110
Yes, but it's 1am in the morning and my ability to disambiguate the two in a sea of notifications is perhaps lacking :)

[2021-02-26 01:12] mvl22 commented on #58
Should these be the Outline application or the Reserved Matters application? I guess the former probably?

[2021-02-26 03:25] Siequnu commented on #111
Generally, we have landscape screens, and landscape spaces in our design for charts, so creating the chart in some kind of landscape format is fine. Especially the legend should be on one of the sides, rather than at the bottom.

[2021-02-26 03:58] #96 closed

[2021-02-26 04:12] dabreegster commented on #96
Thank you! All 34 sites now have scenarios.

[2021-02-26 07:41] Robinlovelace commented on #111
More specific guidance on the graphics such as aspect ratios and pixel counts would be appreciated. Given plans to generate vector versions of the graphs closing here in favour of https://github.com/cyipt/actdev-ui/issues/29. Happy to revisit this if a firm decision is made. Generally best to keep issues specific and actionable.

[2021-02-26 07:41] #111 closed

[2021-02-26 07:45] Robinlovelace commented on #110
Replaced by https://github.com/cyipt/actdev-ui/issues/32

[2021-02-26 07:45] #110 closed

[2021-02-26 12:40] Robinlovelace commented on #107
Heads-up @joeytalbot and @Siequnu I *think* all the data needed is now in the site level data, it has all the columns plus a few more than the all sites data, as shown below:

[code]

[2021-02-26 12:43] Robinlovelace commented on #107
Also checked for Allerton Bywater. Can we close this issue or are there outstanding discrepancies?

[2021-02-26 12:44] Robinlovelace commented on #105
Working on this. Heads-up @joeytalbot and @Siequnu as discussed today.

[2021-02-26 14:21] Robinlovelace commented on #105
Update: I realised a the previous version of the script was treating any OSM polygon as a building! Fixed now.

![image](https://user-images.githubusercontent.com/1825120/109311612-ef6a6e80-783d-11eb-80f7-0c595019c046.png)

[2021-02-26 14:35] Robinlovelace commented on #105
Running this for all sites now.

[2021-02-26 14:42] Robinlovelace commented on #105
Heads-up @mvl22 (and @Siequnu if still awake!) can you check the data just pushed in the commit above and let me know asap if there are any issues with this file format. Looks good to me!

[2021-02-26 14:44] Robinlovelace commented on #105
Cool thing: it also shows the neat procgen_houses created by @dabreegster. They look good in Allerton Bywater to me!

![image](https://user-images.githubusercontent.com/1825120/109314312-14141580-7841-11eb-9d6d-7068486792e1.png)

https://github.com/cyipt/actdev/blob/main/data-small/allerton-bywater/site_buildings.geojson

[2021-02-26 14:46] Robinlovelace commented on #105
And also heads-up Dustin, Purpose is incoming! (Note that in reality the majority of these are Commute not shopping trips, another crease to iron out, probably mostly on my side, at some point.)

![image](https://user-images.githubusercontent.com/1825120/109314543-66edcd00-7841-11eb-967b-8efbb88721f1.png)

[2021-02-26 14:58] #105 closed

[2021-02-26 15:01] Robinlovelace commented on #107
Good work Joey but that additional variable is not showing up for me. Can you reproduce this?

[code]

[2021-02-26 15:18] Robinlovelace commented on #107
OK, let me know when it does and I can pull it down. I've been pushing some files, so maybe do

[code]

or create a branch.

[2021-02-26 15:19] Robinlovelace commented on #107
Confirmed, thanks @joeytalbot

[code]

[2021-02-26 15:20] #107 closed

[2021-02-26 15:20] #78 closed

[2021-02-26 15:22] Robinlovelace commented on #65
All looking good, I think we can close this - certainly more than the 2 sites originally envisioned! There is more data to to import but the data that's in there is plenty good enough so closing for now :tada:

[2021-02-26 15:22] #65 closed

[2021-02-26 15:24] Robinlovelace commented on #100
Is this fixed now? I haven't made any major changes, just fixed Bath, so guess not...

[2021-02-26 15:26] Robinlovelace commented on #100
In case it helps @joeytalbot, I now see this, strange to have negative convertible numbers:

[code]

[2021-02-26 15:28] Robinlovelace commented on #52
Now to be viewed in `trip_attractors.geojson` and POIs are actually now buildings defined here: https://github.com/cyipt/actdev/blob/7895280a6512357f99114e8c2c6b1dffb07d1887/code/abstr-scenarios.R#L53-L68

Not perfect but good enough for now so closing.

[2021-02-26 15:28] #52 closed

[2021-02-26 16:38] Robinlovelace commented on #100
You up for taking a look to diagnose the source of the issue? The desire line scenarios looked OK to me when I checked them.

[2021-02-26 17:45] mvl22 commented on #58
At least now you can use the filters in StreetFocus :) - Set to a large development, of type Outline. NB The date limitation field is not yet active.

https://www.streetfocus.uk/

[2021-02-27 04:05] dabreegster commented on #51
Not urgent for the workshop

[2021-02-28 19:58] dabreegster opened #114 "Storytelling with A/B Street"
I'll use this issue to record observations about how individual sites look in A/B Street, with the aim of generating material to focus on in the workshop presentation. My general goal is to establish how abst adds value to the actdev story beyond the 2nd zoom level.

What I'd expect: abst's value is in the feedback loop of observing some problem in the simulation, editing the map to intervene, com

[2021-02-28 20:24] dabreegster commented on #114
# Poundbury

![Screenshot from 2021-02-28 12-00-42](https://user-images.githubusercontent.com/1664407/109431695-a7be2100-79bc-11eb-970a-573d7b72b334.png)
Bridport road and Damers are the bottleneck into/out of this site. These cars and the cyclist all want to go to Dorchester, but there are only two direct routes there. The roads have a single lane each direction, with barely any shoulder, from ch

[2021-03-01 11:25] Robinlovelace opened #115 "Disaggregate desire lines before running the streamlined scenario script"
For:

- [x] Great Kneighton
- [x] Allerton Bywater
- [x] Poundbury

And if time allows

- [ ] All areas

Will need to test on UI but should auto update without any issues as all column names will be the same but heads-up @mvl22 in any case, more data incoming! Will fix #108.

[2021-03-01 16:51] mvl22 commented on #105
Updated buildings URL so these will now come through.

[2021-03-02 09:47] Robinlovelace commented on #13
Just wrote new code to check the data - looks good, including n-dwellings:

[code]

So closing for now. Great work @aspeakman !

[2021-03-02 09:47] #13 closed

[2021-03-02 10:52] Robinlovelace commented on #50
Place to start:

- [ ] Visualise - map for the report
- [ ] Exploratory data analysis what the data looks like for the report

 % active travel in the area directly dev. sites.

- [ ] Population weighted % walking, % cycling and % active associated with developments vs national

JTS variables to get for each development:

- [ ] Average travel time in minutes to the nearest x where x is the destina

[2021-03-02 14:23] Robinlovelace opened #116 "Empty values in site info"
![image](https://user-images.githubusercontent.com/1825120/109662293-cd852a80-7b62-11eb-93c1-8c1f4af66bf2.png)

[2021-03-02 14:23] Robinlovelace commented on #116
Source: https://actdev.cyipt.bike/routenetwork:type=,accessibility/#11.67/53.3662/-2.2054

[2021-03-02 14:25] Robinlovelace opened #117 "In site buildings exist outside the site boundary for some sites"
![image](https://user-images.githubusercontent.com/1825120/109662550-189f3d80-7b63-11eb-802a-bf1015a50085.png)

[2021-03-02 16:48] Robinlovelace commented on #117
Plus should have "Procedurally generated" as building type.

[2021-03-02 22:45] Robinlovelace commented on #115
Progress on this:
![image](https://user-images.githubusercontent.com/1825120/109725431-0c3dd380-7ba9-11eb-8d8b-cbbcefd33e0a.png)

[2021-03-02 23:00] Robinlovelace commented on #115
Destinations are buildings now.

![image](https://user-images.githubusercontent.com/1825120/109726734-1d87df80-7bab-11eb-9afe-68459cffc65f.png)

[2021-03-02 23:37] Robinlovelace commented on #115
LCID rnet_fast before was very sparse:

![image](https://user-images.githubusercontent.com/1825120/109729596-07c8e900-7bb0-11eb-8040-cbf64506be78.png)

after:

![image](https://user-images.githubusercontent.com/1825120/109729701-32b33d00-7bb0-11eb-8a16-8dc96c86676d.png)

Much more even and complete network. Source: https://github.com/cyipt/actdev/blob/main/data-small/lcid/rnet-fast.geojson

[2021-03-03 00:10] Robinlovelace commented on #115
Also working in the app.

![image](https://user-images.githubusercontent.com/1825120/109732323-e28aa980-7bb4-11eb-96ac-93303954af73.png)

[2021-03-03 00:23] #108 closed

[2021-03-03 00:26] Robinlovelace commented on #108
Heads-up @mvl22 this is fixed now: https://actdev.cyipt.bike/routenetwork:type=,buildings/#14.45/50.71494/-2.45884

However, this reveals a new issue: the walking routes are all uniform width, as documented here: https://github.com/cyipt/actdev-ui/issues/20

[2021-03-03 00:37] mvl22 commented on #108
Thanks, much better.

Yes, known issue. Not a trivial fix sadly as there are different keys that need to be looked at for styling within the context of what is a single layer but accepting different datasets. It's doable though, just not a quick 1-minute fix.

[2021-03-03 00:55] dabreegster commented on #112
I adjusted night mode houses in abst to contrast better. New deployment will look like this:
![Screenshot from 2021-03-02 16-53-02](https://user-images.githubusercontent.com/1664407/109735721-13002280-7b78-11eb-89b4-5465f9c05bbf.png)
![Screenshot from 2021-03-02 16-52-00](https://user-images.githubusercontent.com/1664407/109735723-1398b900-7b78-11eb-9e5a-5b6c32253657.png)

[2021-03-03 06:50] Siequnu opened #118 "All sites missing cycle and walk go active total percentages"
The [all-sites geojson](https://raw.githubusercontent.com/cyipt/actdev/main/data-small/all-sites.geojson) is missing the corresponding goactive percentages for percent_commute_walk_base and percent_commute_cycle_base.

At the moment the only transport mode that are described both in current and goactive scenarios is percent_commute_drive_base.

As these are headline stats, could these be added in

[2021-03-03 06:54] Siequnu opened #119 "Median commute distance - units?"
Can I confirm this is in currently in meters? The [data-dictionary](https://github.com/cyipt/actdev/blob/main/data-small/all-sites-geojson-data-dictionary.csv) entry for this doesn't mention units.

[2021-03-03 09:14] Robinlovelace commented on #118
Agreed, sounds like an important headline stat and I thought they were already in there.

[2021-03-03 09:30] Robinlovelace commented on #112
Hi @dabreegster it looks good but I think the placement of all the panels at the top creates an unintended regression in terms of usability on small screens. See here:

![Peek 2021-03-03 09-27](https://user-images.githubusercontent.com/1825120/109784487-07a60900-7c03-11eb-90f7-9c2ad37930f3.gif)

Reopening this as it's quicker and related but happy for this to be treated as a separate issue.

[2021-03-03 10:01] mvl22 commented on #112
Yes, could you ideally put that somewhere else as that's a generic A/B Street issue, and I can see it generating discussion.

[2021-03-03 10:03] Robinlovelace commented on #112
Is it best in the A/B Street issue tracker? Guess so as I think code in that repo will fix it but will wait for feedback from @dabreegster. Can also see benefits of project-specific issues. Glad you're onboard with small 'atomic' issues @mvl22 ; )

[2021-03-03 10:03] #112 closed

[2021-03-03 10:04] Robinlovelace commented on #112
On that note, they still haven't been implemented in the web app. You happy for me to open an issue on the UI repo @mvl22 ?

[2021-03-03 10:16] mvl22 commented on #112
Can you clarify more specifically?

Yes, feel free to open an issue over there if it's different to the above.

[2021-03-03 11:18] Robinlovelace commented on #119
You up for taking a look @joeytalbot? Imagine so.

[2021-03-03 11:33] Robinlovelace commented on #118
Great work, thanks @joeytalbot! Please confirm @Siequnu and close/comment when you get a chance.

[2021-03-03 11:45] Robinlovelace commented on #119
Sounds done. Can you check and close if happy @Siequnu ?

[2021-03-03 12:13] mvl22 commented on #118
Does this mean we can dump the temporary Python script?

[2021-03-03 12:55] Siequnu commented on #118
@mvl22 The python script is used to generate a csv for the front-page circular graph, not related to this.

[2021-03-03 12:56] Siequnu commented on #118
@joeytalbot great stuff, now displaying on the site-level data.

[2021-03-03 12:56] #118 closed

[2021-03-03 13:03] Siequnu commented on #119
Great stuff, thanks @joeytalbot

[2021-03-03 13:03] #119 closed

[2021-03-03 14:08] joeytalbot opened #120 "Distance to town centre"
This should probably be the route distance using the fast cycle route, instead of the Euclidean distance which it currently is. I would use walking route distance, but that's not calculated for routes longer than 6km.

[2021-03-03 14:26] Robinlovelace commented on #72
Are there any less important questions we can remove?

[2021-03-03 17:37] mvl22 commented on #72
No. 12/13 seems obsolete since we already have that in place.

Does Office Forms let 'other' be combined into the previous question? Those 'other' questions really bulk up the length.

[2021-03-05 11:55] Robinlovelace commented on #120
Good point, and will make the results more consistent. Can you specify which file contains the wrong info? More detailed + specific + actionable issues = better outcomes and easier to track. If you're up for taking a look at this please assign yourself @joeytalbot. Linked with https://github.com/cyipt/actdev-ui/issues/38 - which I think is a data not UI issue.

[2021-03-05 18:36] Robinlovelace opened #122 "Add placeholder in site data"

[2021-03-06 15:17] #120 closed

[2021-03-06 15:22] joeytalbot opened #123 "Disaggregation code leaves us with very few desire lines"
The new disaggregation code in `scenarios-streamlined.R` is not doing what it should.

Here are fast cycle routes for Allerton Bywater with `disaggregate_desire_lines` set to FALSE. This does not use the new code. I am showing the object that would be saved as `routes-fast.geojson`
![Screenshot from 2021-03-06 15-21-42](https://user-images.githubusercontent.com/52210872/110211711-c5ddc280-7e8f-11e

[2021-03-06 17:16] Robinlovelace commented on #123
The purpose of the disagregation code is to increase not decrease the number of desire lines. Looking at the [commits](https://github.com/cyipt/actdev/commits/main) I don't think this data has been pushed but in any case it suggests something is wrong in Allerton Bywater. Clearly it works in some sites, notably Poundbury as documented in #108. Are you up for doing a bit of detective work to help i

[2021-03-06 17:35] Robinlovelace opened #124 "Rebuild data for all sites"
The fixes for #108, #120 and possibly #122 (yet to be fixed in the code) have not been rolled-out to all sites. I'm happy to take a look at this. Heads-up @joeytalbot and @mvl22  - any other fixes we should include before rebuilding all the site data?

[2021-03-06 20:00] Robinlovelace commented on #116
Looking here it's definitely a data issue: https://github.com/cyipt/actdev/blob/main/data-small/aylesham/dartboard.geojson

![image](https://user-images.githubusercontent.com/1825120/110219356-8f676e00-7eb6-11eb-9724-800890f3701a.png)

[2021-03-06 20:03] Robinlovelace commented on #66
From my perspective this is more than good enough. A bigger issue that has emerged is UI overlaps on some monitors. Closing this now because it's more than good enough for me and is partially replaced by this which is more important: https://github.com/a-b-street/abstreet/issues/551

[2021-03-06 20:03] #66 closed

[2021-03-06 20:04] Robinlovelace commented on #58
I think this has been done now. Heads-up @joeytalbot and @mvl22, please comment or re-open if we need to do more on this.

[2021-03-06 20:04] #58 closed

[2021-03-06 21:41] Robinlovelace opened #126 "Meaningless OD codes in disaggregated desire lines"
This has consequences when generating the A/B Street scenarios:

![image](https://user-images.githubusercontent.com/1825120/110221464-53d3a080-7ec4-11eb-8270-29580fdffbb2.png)

Source: https://github.com/cyipt/actdev/blob/main/data-small/great-kneighton/desire-lines-few.geojson

This is what they should contain:

![image](https://user-images.githubusercontent.com/1825120/110221523-9eedb380-7ec4-11

[2021-03-06 22:44] Robinlovelace commented on #123
Are you sure this is an issue? These are the desire lines generated by the 'disag code' that I see:

![image](https://user-images.githubusercontent.com/1825120/110222843-3b1bb880-7ecd-11eb-9202-7d9f6a9536d2.png)

Source: https://github.com/cyipt/actdev/blob/main/data-small/allerton-bywater/desire-lines-many.geojson

Closing for now. Not sure what has happened but guess you may need to install the

[2021-03-06 22:52] #126 closed

[2021-03-06 22:53] Robinlovelace commented on #126
Now fixed, as shown below:

![image](https://user-images.githubusercontent.com/1825120/110223852-b6319e80-7ece-11eb-8961-053349d68894.png)

[2021-03-07 08:46] #115 closed

[2021-03-07 08:47] Robinlovelace commented on #124
Re-opening as it only built data to Long Marston.

[2021-03-07 09:02] Robinlovelace commented on #124
Seems to be failing for Long Marston. Documenting progress on this, just ran the following lines:

[code]

Will try building for those final sites now.

[2021-03-07 09:04] Robinlovelace commented on #124
Actually is an issue with `micklefield`, just checked the messages from the build script and it says:

[code]

Checking now...

[2021-03-07 09:17] Robinlovelace commented on #123
One to chat about? Give me a call if you're around this morning, heading out ~10:00.

[2021-03-07 09:52] Robinlovelace commented on #123
Good catch @joeytalbot. The issue was that synthetic buildings didn't have unique ids so it was routing many origins to a single random destination. Fixed in the commit above I think, results looking better for Poundbury:

![image](https://user-images.githubusercontent.com/1825120/110235918-c5ded080-7f2a-11eb-9f68-214d991e4d52.png)

[2021-03-07 09:54] Robinlovelace commented on #123
Rebuilding and checking for `lcid`.

[2021-03-07 09:55] Robinlovelace commented on #123
Looking good:

![image](https://user-images.githubusercontent.com/1825120/110235990-3ede2800-7f2b-11eb-8b99-c92710ce404e.png)

Next up Allerton Bywater.

[2021-03-07 09:56] Robinlovelace commented on #123
Where the bug is very clear from the web app: https://actdev.cyipt.bike/allerton-bywater/routenetwork/#11.02/53.7598/-1.3789

![image](https://user-images.githubusercontent.com/1825120/110236003-63d29b00-7f2b-11eb-89c3-afec3a2b207e.png)

[2021-03-07 09:59] Robinlovelace commented on #123
A co-benefit of disagregation I've just realised: the greater diversity of destinations means fewer blanks in the clockboard data. Heads-up @joeytalbot on that one. Making good progress, very grateful for your beady eyes on this.

[2021-03-07 10:00] Robinlovelace commented on #123
After the fix we have a much better and more realistic distribution of destinations:

![image](https://user-images.githubusercontent.com/1825120/110236114-01c66580-7f2c-11eb-96df-8f4cdb03a90f.png)

[2021-03-07 10:03] Robinlovelace commented on #123
![image](https://user-images.githubusercontent.com/1825120/110236189-55d14a00-7f2c-11eb-8b8a-0e55a47e77f6.png)

[2021-03-07 11:18] Robinlovelace opened #128 "Build fails for tyersal-lane"
I get

[code]

[2021-03-07 11:25] #123 closed

[2021-03-07 11:25] #124 closed

[2021-03-07 12:14] Siequnu commented on #122
Fixed async loading issues in [22c92e0](https://github.com/cyipt/actdev-ui/commit/22c92e0c9257cde70259a71aecdb344af863f22d). I guess this means the placeholder data is no longer necessary?

[2021-03-07 12:46] Siequnu opened #129 "Bug in code that generates the mode-split csv file"
The development appears to be gaining several thousand new commuters in Go Active mode?
<img width="660" alt="Screenshot 2021-03-07 at 20 47 39" src="https://user-images.githubusercontent.com/11821606/110240336-64e4e600-7f86-11eb-9da0-0a65e3616903.png">
<img width="656" alt="Screenshot 2021-03-07 at 20 47 44" src="https://user-images.githubusercontent.com/11821606/110240338-66aea980-7f86-11eb-95cf

[2021-03-07 14:17] #122 closed

[2021-03-07 14:18] Siequnu commented on #109
Closing as initial dictionary is available.

[2021-03-07 14:18] #109 closed

[2021-03-07 14:18] Siequnu commented on #104
This is now jsified, seems we have moved on from this stage!

[2021-03-07 14:18] #104 closed

[2021-03-07 14:28] Siequnu commented on #103
Closing and reopening in the UI repo as this is a UI issue.

[2021-03-07 14:28] #103 closed

[2021-03-07 14:29] Siequnu commented on #103
[c.f. ](https://github.com/cyipt/actdev-ui/issues/47)

[2021-03-07 16:43] Robinlovelace commented on #129
Woops. Yes will take a look.

[2021-03-07 16:46] Robinlovelace commented on #122
:+1:

[2021-03-07 16:49] Robinlovelace commented on #104
I was leaving this open because I couldn't see a way to show the data in the opening issue in the app. @mvl22 or @Siequnu can you  show how this is in there? Can open a separate issue if needs be.

[2021-03-07 16:55] Robinlovelace commented on #129
There's also an issue for Allerton Bywater:

![Peek 2021-03-07 16-55](https://user-images.githubusercontent.com/1825120/110247807-f6902b80-7f65-11eb-8a84-2f91dda4249a.gif)

[2021-03-07 19:56] Robinlovelace commented on #129
Doing a sanity test just now on data from Allerton Bywater and it seems OK:

[code]

[2021-03-07 20:24] Robinlovelace commented on #129
Reproducible script suggests that the data in the `desire-lines-many.geojson` file is OK:

[code]

<sup>Created on 2021-03-07 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-07 20:26] Robinlovelace commented on #129
Raising the question: how are those graphs calculated @Siequnu ? It would help fix the data if you could point to the data in this repo that is spurious or at least the code in the UI repo that reads-it in. Clear something is amiss.

[2021-03-07 20:35] Robinlovelace commented on #129
My guess: the graph can best be fixed with code in the UI codebase. Here is what I think caused it.

The attributes were as follows:

![image](https://user-images.githubusercontent.com/1825120/110253747-e4bd8100-7f83-11eb-9186-fe99cbf8c150.png)

Source: https://github.com/cyipt/actdev/blob/14f72705226ba36ca519a5f528b4e887b30c46a8/data-small/allerton-bywater/desire-lines-many.geojson

Now the colum

[2021-03-07 20:42] Robinlovelace commented on #129
Just assigned everyone as it may be a team effort to resolve this one. Priority issue.

[2021-03-07 21:02] Robinlovelace opened #130 "No data dictionary for the ClockBoard infographics"
See https://github.com/cyipt/actdev-ui/issues/47#issuecomment-792351727. You up for taking a look at this @joeytalbot? Also interested to hear your thoughts on the most relevant variables to show - the great thing about the ClockBoard viz is you can see a simple graphical summary of many variables in one place which may raise further UI questions/issues. Heads-up on that @mvl22 although I think th

[2021-03-07 21:13] Robinlovelace commented on #128
Taking a look at this now.

[2021-03-07 21:31] Robinlovelace commented on #128
Wider issue: currently the OSRM routing service we're using is down for me:

[code]

[2021-03-07 21:43] Robinlovelace commented on #128
And for everyone it seems: https://www.uptrends.com/tools/uptime

![image](https://user-images.githubusercontent.com/1825120/110255919-189da400-7f8e-11eb-8b84-b816355363fa.png)

[2021-03-08 00:12] Siequnu commented on #129
The chart is simply generated by parsing the mode-split.csv for each region.

In this case, Great-Kneighton (among others) gained some really odd values after [this commit yesterday](https://github.com/cyipt/actdev/commit/7d84d4cfc2359aea6097f3b75c820ba2129430f5).

<img width="1496" alt="Screenshot 2021-03-08 at 08 11 40" src="https://user-images.githubusercontent.com/11821606/110260123-ed46a380-7

[2021-03-08 00:28] Siequnu commented on #129
[Variable names are already being used](https://github.com/cyipt/actdev-ui/blob/548d182aa6ca0f5a398eb40c54faae477df9d34a/js/actdev.js#L1237-L1290).

[2021-03-08 00:36] Siequnu commented on #129
Taking a close look at the example above, it appears that — among others — the Great Kneighton 6-10 band gained several spurious numbers. Here's how they match up — I'm comparing the pre- and post-commit 6-10 band data for Great Kneighton. [Here's the link to the .csv file.](https://github.com/cyipt/actdev/blob/main/data-small/great-kneighton/mode-split.csv)

[code]
I've added * to places where ma

[2021-03-08 01:02] mvl22 commented on #129
Perhaps norms are different in the R world, but frankly I would regard use of index positions, which are inherently unstable, when names exist, as pretty sloppy work in UI development. UIs need to be defensively coded, so we avoid that kind of thing.

[2021-03-08 03:38] Siequnu commented on #129
Since we are on the topic, what do the percent fields mean? We aren't currently using these for data visualisation, but in the screenshot attached, almost none of the percentages for base and goactive actually add up to 100%. Data from the great-kneighton [mode-split.csv file](https://github.com/cyipt/actdev/blob/main/data-small/great-kneighton/mode-split.csv), but many inconsistencies of this kin

[2021-03-08 08:09] Robinlovelace commented on #129
Agreed, this is an issue with the mode split csv file and it looks like a bug introduced by @joeytalbot here: https://github.com/cyipt/actdev/commit/7d84d4cfc2359aea6097f3b75c820ba2129430f5

[2021-03-08 08:35] Robinlovelace commented on #129
Good detective work. Will chat with Joey and fix it ASAP.

[2021-03-08 08:46] #128 closed

[2021-03-08 09:14] Robinlovelace commented on #117
This raises a design decision: how many buildings should we 'pack in'? To reduce changes and illustrate what's possible I've set the code to randomly place buildings if there are less than 5 buildings after adding the 'procgenned' ones to the existing ones. I think `ashton-park` is the only site where this applies. Results after packing all 2500 dwellings in (some overlap) showing scale of this va

[2021-03-08 09:16] Robinlovelace opened #132 "Rebuild all abstr scenarios"
Heads-up @dabreegster I'm planning to rebuild all the abstr scenarios this morning, can you test for a sample sites, e.g. Great-Kneighton, Allerton Bywater and Poundbury before pulling in all this new data just to be sure?

[2021-03-08 09:22] Robinlovelace opened #133 "Rebuild all ClockBoard geojson files with new route data"

[2021-03-08 09:30] Robinlovelace commented on #132
Sanity check on data for one scenario file: file is of same size and structure so think this is fine:

[code]

[2021-03-08 09:35] Robinlovelace commented on #132
Error message for tyersal-lane:

[code]

[2021-03-08 09:48] #117 closed

[2021-03-08 09:48] #132 closed

[2021-03-08 09:48] Robinlovelace commented on #117
Verification of fix for Aylesham:

![image](https://user-images.githubusercontent.com/1825120/110304415-7d3f1a00-7ff3-11eb-82f5-dfb798175e27.png)

[2021-03-08 10:19] Robinlovelace opened #134 "Route data has meaningless origin and destination codes"
Linked with #126

![image](https://user-images.githubusercontent.com/1825120/110308161-b24d6b80-7ff7-11eb-866b-16e952f43256.png)

Discussed with @joeytalbot - not a priority but worth flagging.

[2021-03-08 10:30] Robinlovelace opened #135 "Desire line(s) missing"
In previous versions in Allerton Bywater there were many desire lines going South:

![image](https://user-images.githubusercontent.com/1825120/110309368-29cfca80-7ff9-11eb-9f79-a9c09a4dfe61.png)

Source - pre disgreggation: https://github.com/cyipt/actdev/blob/a616dc515eb38ed78db01ce55c161bc9f9208251/data-small/allerton-bywater/desire-lines-many.geojson

Now it is not there:

![image](https://user

[2021-03-08 11:13] Robinlovelace commented on #129
Discussed now with @joeytalbot who is looking into it.

[2021-03-08 11:38] Robinlovelace commented on #134
Heads-up @joeytalbot I'm rebuilding all affected sites and should have this fixed soon.

[2021-03-08 11:40] #134 closed

[2021-03-08 11:41] Robinlovelace commented on #134
Code used to find the errant sites:

[code]

[2021-03-08 12:44] joeytalbot opened #136 "Text colours for headline stats on website"
I will alter the script to give threshold values which you can use to set the red/amber/green colours for both the baseline and Go Active scenario mode share percentages.

These can be set so the anything below the current median active travel mode share is shown as red and anything above the 75th quantile for active travel (or below the 25th quantile for driving) is green.

[2021-03-08 13:11] Robinlovelace commented on #136
Do you have figures for those percentiles for different modes (active, walk, cycle, drive which should be the inverse I think)?

[2021-03-08 13:21] #136 closed

[2021-03-08 15:05] Robinlovelace commented on #129
The new data seems to produce better results but it still seems like there are issues to me so re-opening.

Can you double check @joeytalbot ?

The GIF below looks better than the GIF above for the same place (Allerton Bywater) but still looks off to me.

![Peek 2021-03-08 15-02](https://user-images.githubusercontent.com/1825120/110339002-91990c00-801f-11eb-9110-2b682464f787.gif)

[2021-03-08 15:32] Robinlovelace commented on #129
Heads-up @joeytalbot I've just double checked the input desire line data and cannot see any issue with this so guess it must be your mode split code. Let me know, happy to chat about solutions.

<details>

[code]

<sup>Created on 2021-03-08 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-08 15:40] Robinlovelace commented on #129
Reproducible example showing it's an issue with the `mode-split.csv` file:

![](https://i.imgur.com/aAx0WVb.png)

<details>

[code]

![](https://i.imgur.com/aAx0WVb.png)

<sup>Created on 2021-03-08 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-08 16:26] Robinlovelace commented on #129
Cheers Joey.

[2021-03-08 16:44] dabreegster commented on #132
I'll spot check for a few sites, then reimport everything. Thanks for fixing all the issues upstream!

[2021-03-08 17:00] Robinlovelace commented on #132
Great. Pay particular attention to LCID and Micklefield, I have reason to suspect that the results will not be quite right linked to an issue fixed before this latest round of data was generated: https://github.com/cyipt/actdev/commit/caed3cd2f7da5e4e8763060005f0aae76c8e81bb

[2021-03-08 17:02] dabreegster commented on #132
Done! I'll deploy a new release once some more abst UI and bg traffic fixes are done.

... Although I just realized I forgot to run the new tool to add return and lunch trips. I'll do that when I'm back from an appt.

What sort of validations should I be looking for? Main observation at Micklefield is that there are only 17 people total.

[2021-03-08 17:11] Robinlovelace opened #137 "Only 17 agents in scenario.json files for Mickfield"
As reported by @dabreegster.

It's not a big site but there should be more than that:

https://actdev.cyipt.bike/micklefield/routenetwork/#12/53.79329/-1.3255

Should be an easy fix.

[2021-03-09 10:50] Robinlovelace opened #138 "Update report so figures work"
- [x] No weird code chunks
- [x] Existing images in there
- [x] New image showing go active scenario

[2021-03-09 12:15] Robinlovelace opened #140 "Finish or remove unfinished sections in the report"
Currently it has lots of unfinished sentences which does not look good.

Are you happy to work on this @joeytalbot ?

I'm just finishing the third point on #138 but that should not affect any other parts of the report.

[2021-03-09 12:33] Robinlovelace commented on #92
No.

[2021-03-09 12:34] Robinlovelace commented on #140
Makes sense. I suggest commenting out unfinished bits of the report for now. You can do this by adding:

[code]

[2021-03-09 12:53] Robinlovelace commented on #138
Progress on the plot - heads-up @joeytalbot any comments on this welcome:

![image](https://user-images.githubusercontent.com/1825120/110473470-789f6200-80d6-11eb-9626-846bb1214afd.png)

[2021-03-09 13:03] Robinlovelace commented on #138
More progress, I think a facet plot is clearer:

![image](https://user-images.githubusercontent.com/1825120/110474663-da140080-80d7-11eb-9d85-e9210013d750.png)

[2021-03-09 13:17] #138 closed

[2021-03-09 13:21] Robinlovelace commented on #129
Looking good, this is fixed. But should walking be going down in Go Active? This may be a problem with our uptake model code.

![Peek 2021-03-09 13-20](https://user-images.githubusercontent.com/1825120/110476797-4ee83a00-80da-11eb-8cc9-ddbb82e2b233.gif)

[2021-03-09 13:21] #129 closed

[2021-03-09 13:23] Robinlovelace commented on #140
Heads-up @joeytalbot I'm done editing the report for now. New figure in there: https://actdev.cyipt.bike/report/#fig:scenario-overview

[2021-03-09 14:16] mvl22 commented on #130
Can this dictionary go in soon?

Am keen to close down https://github.com/cyipt/actdev-ui/issues/47 as it's been lingering but isn't really a UI issue that we can fix as such.

[2021-03-09 14:46] Robinlovelace commented on #95
Closing as it has been drafted. Replaced by #140.

[2021-03-09 14:46] #95 closed

[2021-03-09 16:52] Robinlovelace opened #141 "Update graph showing uptake model"
- [ ] Give lines colour depending on mode
- [ ] Combine Go Active and Baseline into single scenario

[2021-03-09 17:00] Robinlovelace opened #142 "Create manual.md file to go on the Manual page"
Currently we have these links on the landing page:

About > Report >

Creating this file will allow it to be updated to be:

About > Report > Manual >

Building on https://github.com/cyipt/actdev-ui/issues/55 but documenting here as that's where the file will live.

[2021-03-09 17:03] Robinlovelace commented on #141
Working on this now. Currently it's

![](https://raw.githubusercontent.com/cyipt/actdev/main/data-small/scenario-overview.png)

[2021-03-09 17:05] joeytalbot opened #143 "Questionnaire links"
Version to send to participants:
https://forms.office.com/Pages/ResponsePage.aspx?id=qO3qvR3IzkWGPlIypTW3yyMypkiIdOJGrvs4vzE0KWxUQzY2WDhJVFNDTzk0Q1oxQlVSSkJaSUVGMi4u

Editable version:
https://forms.office.com/Pages/DesignPage.aspx?fragment=FormId%3DqO3qvR3IzkWGPlIypTW3yyMypkiIdOJGrvs4vzE0KWxUQzY2WDhJVFNDTzk0Q1oxQlVSSkJaSUVGMi4u%26Token%3D1b25122d7478446486131eba0b4e13de

[2021-03-09 17:06] Robinlovelace commented on #143
Please add these to the site @mvl22 then we can close this and #72.

[2021-03-09 17:44] Robinlovelace commented on #141
Latest on this, with 90th and 10th percentile shown in ribbon plots:

![image](https://user-images.githubusercontent.com/1825120/110514340-1ad34000-80ff-11eb-8153-cd0b0aad83d4.png)

Next up: add colour.

[2021-03-09 17:52] Robinlovelace commented on #141
Getting there...

![image](https://user-images.githubusercontent.com/1825120/110515369-3e4aba80-8100-11eb-8abe-ea5c115d97f6.png)

[2021-03-09 18:02] #141 closed

[2021-03-09 19:20] #143 closed

[2021-03-09 19:22] Robinlovelace commented on #130
Good catch. I think we need to update the geojson zones anyway so good timing.

[2021-03-09 19:22] Robinlovelace commented on #130
#103

[2021-03-09 20:09] Robinlovelace commented on #143
Looking good!

![image](https://user-images.githubusercontent.com/1825120/110531341-5841c880-8113-11eb-8a61-8633c11e7566.png)

[2021-03-09 21:59] dabreegster commented on #114
Just recording notes for my planned demo in Poundbury. I'll record a few practice runs and send it offline.

Part 1: observe

- Add background traffic and slow down the speed.
- With the unzoomed view running, explain the data is from OSM and the 2011 census.
- Zoom into the crazy 5-way intersection, show agents interacting with the traffic signal.
- Follow an individual cyclist, showing the indiv

[2021-03-10 11:02] mvl22 commented on #130
Where is the file please? I still can't see it.

[2021-03-10 11:04] Robinlovelace commented on #130
Ah yes. Please always add a link to the file or screenshot that has changed when closing issues everyone. It's good practice and makes it easier to track progress and confirm issues have been fixed, and plan for next steps as is the case here.

[2021-03-10 11:08] #130 closed

[2021-03-10 11:10] #133 closed

[2021-03-10 13:52] mvl22 opened #144 "Missing labels in dictionary"
Routes network is missing labels for walk_base and walk_godutch:

![Screenshot 2021-03-10 at 13 51 22](https://user-images.githubusercontent.com/361423/110639562-c20bb200-81a7-11eb-9001-1347ab310b40.png)

[2021-03-10 14:21] Robinlovelace commented on #144
Cheers for flagging Martin. Heads-up @joeytalbot assigning to you, should be a quick fix.

[2021-03-10 14:58] Robinlovelace commented on #144
Looking good. Many thanks Joey. Please take a look and close if happy @mvl22.

[2021-03-10 16:12] Robinlovelace commented on #142
I'm working on this now.

[2021-03-10 17:32] Robinlovelace opened #145 "Content for slides"
See slides here: https://github.com/cyipt/actdev/blob/main/code/tests/slides.Rmd

Opening this issue to put content on / discuss them.

![Peek 2021-03-10 17-31](https://user-images.githubusercontent.com/1825120/110671502-79afbc80-81c6-11eb-9dc5-52046b1d04c8.gif)

[2021-03-10 17:34] dabreegster commented on #145
Any qualms if the entirety of my 10 minutes is the demo with A/B Street? Check the actdevp repo for a dry-run video.

I can also fill out some slides if people will refer back to these later.

[2021-03-10 17:35] Robinlovelace commented on #145
No qualms with that, will save the A/B Street demo to you which is a good thing as lots to cover.

[2021-03-10 17:42] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110672803-f0998500-81c7-11eb-9f9a-d2019028dca4.png)

[2021-03-10 17:47] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110673378-9ea52f00-81c8-11eb-9822-58d44e1ecae2.png)

[2021-03-10 18:21] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110677777-75d36880-81cd-11eb-8c59-eb406066bc4a.png)

[2021-03-10 18:24] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110678068-ca76e380-81cd-11eb-8dec-f191dfe708b6.png)

[2021-03-10 18:25] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110678305-0e69e880-81ce-11eb-98aa-7d91fd71e81c.png)

[2021-03-10 18:29] dabreegster commented on #114
The presentation is ready, supported by this particular story in Poundbury. Closing this issue. In the future, we can explore more individual case studies.

[2021-03-10 18:29] #114 closed

[2021-03-10 18:35] #145 closed

[2021-03-10 18:38] Robinlovelace commented on #114
Great work @dabreegster looking forward to it!

[2021-03-10 18:40] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110680124-20e52180-81d0-11eb-8bcd-333e6e0403ed.png)

[2021-03-10 18:43] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110680440-85a07c00-81d0-11eb-9658-7f303e72372f.png)

[2021-03-10 18:47] Robinlovelace commented on #142
![image](https://user-images.githubusercontent.com/1825120/110680868-0d868600-81d1-11eb-9342-62461b222b60.png)

[2021-03-10 18:58] Robinlovelace commented on #142
![image](https://user-images.githubusercontent.com/1825120/110682147-876b3f00-81d2-11eb-96e9-b86203ec250e.png)

[2021-03-10 19:02] mvl22 commented on #142
Appearing dynamically at
https://actdev.cyipt.bike/manual/

[2021-03-10 19:07] Robinlovelace commented on #142
:tada:

[2021-03-10 19:07] Robinlovelace commented on #142
![image](https://user-images.githubusercontent.com/1825120/110683382-d9f92b00-81d3-11eb-9ec4-8ac745637762.png)

[2021-03-10 19:09] Robinlovelace commented on #142
![image](https://user-images.githubusercontent.com/1825120/110683635-27759800-81d4-11eb-83c3-6e5b4ddf224d.png)

[2021-03-10 20:34] Robinlovelace commented on #142
![image](https://user-images.githubusercontent.com/1825120/110693965-f4390600-81df-11eb-8d7a-c37ea0e23f1f.png)

[2021-03-10 21:07] Robinlovelace commented on #142
![image](https://user-images.githubusercontent.com/1825120/110697687-9a870a80-81e4-11eb-9e20-9874a7e2a9c4.png)

[2021-03-10 21:39] #142 closed

[2021-03-10 21:40] Robinlovelace commented on #144
Assuming you're happy with this @mvl22 so closing for now. Feel free to re-open if there are any other issues.

[2021-03-10 21:40] #144 closed

[2021-03-10 21:43] Robinlovelace commented on #72
This is looking great to me :+1:

[2021-03-11 10:58] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110777119-ad3b2700-8258-11eb-87f9-553449faa757.png)

[2021-03-11 11:05] Robinlovelace commented on #145
![Peek 2021-03-11 11-04](https://user-images.githubusercontent.com/1825120/110777940-9d701280-8259-11eb-9c17-c56f5b709c83.gif)

[2021-03-11 11:15] Robinlovelace commented on #145
Heads-up @joeytalbot, @mvl22 and @dabreegster I've uploaded my slides here: https://www.robinlovelace.net/presentations/actdev-slides.html#1

Any comments on these welcome.

[2021-03-11 11:15] Robinlovelace commented on #145
@mvl22 is there an easy way to serve those from the ActDev site? Could be worth adding a link to the 'ActDev presentation slides' if so.

[2021-03-11 11:19] Robinlovelace commented on #145
In terms of the overall plan, I plan to use those slides in 2 places, highlighted in bold:

- Intro from the chair 14:00 - 14:10
- **About the tool 14:10 - 14:15** - up to slide 6: https://www.robinlovelace.net/presentations/actdev-slides.html#11
14:15 - 14:30

- Lynda Addison, Lead on planning and transport integration, Transport Planning Society

- Julian Sanchez, Active Travel, Programme Manage

[2021-03-11 11:53] Robinlovelace commented on #145
Update on slides: thinking of adding everyone on the team to the list so it can be a more general 'Intro to ActDev project', not just for our part.

[2021-03-11 13:51] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110797354-e5e6fa80-8270-11eb-8b9d-26b2ac1c0403.png)

[2021-03-11 13:55] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110797848-79203000-8271-11eb-80be-99b8d7abcec5.png)

[2021-03-11 13:57] mvl22 commented on #145
How about adding, as a second short paragraph under 'Introduction', a new sentence:

_Slides giving an overview of the project_, created for a workshop in March 2021, are available.

and add the link there.

[2021-03-11 16:09] Robinlovelace commented on #145
Added to the manual.

[2021-03-11 19:52] Robinlovelace commented on #140
Nudge on this @joeytalbot. Happy to take a look at this but don't want to duplicate effort - an update would be appreciated.

[2021-03-11 21:19] Robinlovelace commented on #140
Working on this.

[2021-03-11 21:58] Robinlovelace commented on #140
![image](https://user-images.githubusercontent.com/1825120/110860616-e608e980-82b4-11eb-815e-6ee51bb4f6f6.png)

[2021-03-11 22:07] #140 closed

[2021-03-12 09:22] Robinlovelace opened #147 "Update ClockBoard graphics in manual"
As reported by @mvl22 in https://github.com/cyipt/actdev-ui/issues/63 the graphics generated before today will be out of date. You up for working on this one @joeytalbot ? Please assign yourself if so.

[2021-03-12 11:43] Robinlovelace commented on #145
![image](https://user-images.githubusercontent.com/1825120/110936020-26557f80-8328-11eb-9b1f-39dd73640962.png)

[2021-03-12 16:44] dabreegster opened #148 "Add cycle parking layer"
Some feedback from the workshop: as levels of cycling increase, often the amount of parking doesn't keep up. We talked about some of the difficulties for modeling this in A/B Street, but at the very least, a useful layer in actdev might be just to show https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dbicycle_parking, and perhaps to correlate it with the projected number of trips to destinations n

[2021-03-12 16:50] Robinlovelace opened #149 "Show potential for places that haven't yet be chosen"
Currently it's constrained by sites that have already been identified and are in the PlanIt dataset.

[2021-03-12 17:10] mvl22 commented on #148
Cycle parking layer now added.

![Screenshot 2021-03-12 at 17 09 39](https://user-images.githubusercontent.com/361423/110973886-c1188300-8355-11eb-8747-9b2a2a8a432d.png)

[2021-03-16 15:19] #147 closed

[2021-03-16 15:20] #91 closed

[2021-03-16 15:20] #97 closed

[2021-03-19 11:42] mvl22 opened #150 "Add parameter for targetting scenario in A/B Street"
Robin requests that A/B Street needs a parameter so that we can target the starting scenario from the web GUI.

@dabreegster

[2021-03-19 23:30] dabreegster commented on #150
There'll be a new release uploaded by the time you see this. You can pass `--actdev_scenario=go_active` in the URL now. Any other value defaults to the baseline scenario; if you want to always pass the URL param, `--actdev_scenario=base` is consistent with the naming in abst, but any other value is fine too.

The URL in abst automatically updates to include the current viewport, making it easier t

[2021-03-19 23:59] dabreegster commented on #150
Confirming the new release works: https://actdev.cyipt.bike/abstreet/?--actdev=kidbrooke-village&--cam=13.2/51.45672/0.01572&--actdev_scenario=go_active

[2021-03-20 06:59] Robinlovelace commented on #150
Impressive! I guess the only remaining step is to pass that `actdev_scenario` param from the web app.

[2021-03-20 16:08] hgomersall opened #151 "Background data causes chunks of traffic in Great Kneighton simulation to stop completely"
I know congestion in South Cambridge is bad, but I don't think being stationary for 35 minutes is normal (notably around the hospital). I stopped the sim at that point.

[2021-03-20 18:20] dabreegster commented on #151
[Gridlock](https://a-b-street.github.io/docs/trafficsim/gridlock.html) is unfortunately normal in A/B Street. A few lucky maps (like Poundbury) have had special attention to fix the worst bugs there, but Cambridge is more complex and hits different issues. Glancing at a few:

![Screenshot from 2021-03-20 11-14-38](https://user-images.githubusercontent.com/1664407/111881406-7efecb00-896d-11eb-91f7-

[2021-03-20 19:11] mvl22 commented on #151
Portugal Place is no cycling anyway - but a cycle track is shown.

NB Known as the "Addenbrooke's roundabout" :)

[2021-03-20 20:45] hgomersall commented on #151
Are the issues predominantly OSM or A/B Street?

[2021-03-20 20:47] hgomersall commented on #151
Is it currently _possible_ to model?

[2021-03-20 20:58] Robinlovelace commented on #148
Job done :tada:

[2021-03-20 20:58] #148 closed

[2021-03-20 21:37] mvl22 commented on #151
In my view, almost impossible in OSM for complex junctions - the inability to group junction components is problematic.

See fuller discussion in my State Of The Map talk, e.g. from 15 minutes on and my conclusions at the end:

https://media.ccc.de/v/sotm2019-1038-is-the-osm-data-model-creaking-

[2021-03-20 21:58] dabreegster commented on #151
Ah, it's `highway=pedestrian` but `bicycle=dismount`. I'll add an exception for this, and likely stop importing this road entirely, since separate footpaths are disabled by default (for similar reasons to separate cyclepaths).

Ahhh this one is actually famous, nice! I tried transforming all the signals to stop signs to get rid of the synchronization problem, but it still gridlocks. I made loads o

[2021-03-20 22:37] #150 closed

[2021-03-21 12:02] Siequnu opened #152 "Spurious data in Ashton Park Go Active results"
The headline stats appear to be wrong. The Go Active mode results in a large decrease in active commuters, 0% walking and 12% more driving! Data being pulled from [all-sites.geojson](https://raw.githubusercontent.com/cyipt/actdev/main/data-small/all-sites.geojson). The chart data, which is generated from the mode-split.csv doesn't match, but it looks to be more realistic.

I had a look at other si

[2021-03-21 12:24] Siequnu opened #153 "Update aggregate mode-split data for new sites"
In order to display the national-level view mode-split data I hacked together a [Python script](https://github.com/cyipt/actdev-ui/blob/master/small_site_stats.py) that loops through all the site data and generates an aggregate csv file containing data for all sites for each scenario ([current](https://github.com/cyipt/actdev-ui/blob/master/small-site-stats.csv) and [goactive](https://github.com/c

[2021-03-21 12:37] mvl22 commented on #153
Just to stress the importance of this - we'd really like to get rid of the Python script as it's a source of potential significant confusion and is a bit of technical debt that must be cleared up. Hopefully this will be a reasonably quick job on the R side.

[2021-03-21 13:13] Siequnu opened #154 "Baseline mode-split data changed - how come?"
[I re-ran](https://github.com/cyipt/actdev-ui/commit/2a80791ec8f2545451b342cfeb00e4ade8d4d569#diff-41db4f220825a44297e9889dba6cf7293dfa1694c2bef7f3fbd7c6d906ad056d) the [Python script ](https://github.com/cyipt/actdev-ui/blob/master/small_site_stats.py) mentioned [here](https://github.com/cyipt/actdev/issues/153) to re-generate the aggregate mode-split data for sites. The .csv file data this scrip

[2021-03-21 14:28] mrd commented on #151
Quite apart from the simulation issues - Addenbrooke's roundabout has three circulatory lanes and that might help sort things out in this case, depending on your lane-changing model (which I understand is still a bit crude).

When I get some time I might also take a look at modifying this demo.

[2021-03-21 18:41] dabreegster commented on #151
It's quite possible more lanes would break the simulation even more. ;)  But if OSM doesn't match reality, it'd be awesome to update it. https://www.openstreetmap.org/way/58559114 and similar don't have the `lanes` tag at all. It was last edited 4 years ago; looks like the new Dutch junction hasn't been tagged.

[2021-03-21 19:30] mvl22 commented on #151
No, the Dutch roundabout, which is the one at the next junction, has been created in glorious detail by yours truly (and subsequently iterated upon).

https://www.openstreetmap.org/#map=19/52.17930/0.14903

I can't remember the lanes layout on the Addenbrooke's roundabout; there have been changes made which may make the current Bing satellite imagery incorrect.

[2021-03-22 09:47] hgomersall commented on #151
This was really my question - can complex signal timing be incorporated? It might need someone to sit with a stopwatch at that junction!

Re the need to get contributors, I suspect Cambridge is a good place to start with that. There are plenty of technically competent transport geeks hereabouts.

[2021-03-23 02:44] dabreegster commented on #151
Depends how it works. We have actuated signals, where a stage lasts a fixed time, plus up to some additional time if there's still demand from that direction. We can also offset a signal relative to another. Hopefully that should cover this particular situation, but I don't know what it's like in person.

I made a [feeble attempt](https://docs.google.com/document/d/1Od_7WvBVYsvpY4etRI0sKmYmZnwXMAX

[2021-03-23 09:47] EmmaY74 opened #155 "Additional Sites"
Will there be the functionality to bring in all the sites for a district so we can compare all the sites in a district?

[2021-03-23 09:58] Robinlovelace commented on #155
Hi @EmmaY74, thanks for asking and good question. It's something I had been wondering about and it is technically possible. However... we would need to do a few additional things to allow the user to add sites via the web interface:

1. Write a script that takes an input boundary dataset and updates all the relevant files in the ActDev project site list (perhaps 3 days of work)
2. Add user interfa

[2021-03-23 10:49] Robinlovelace commented on #155
Also good documentation encouraging others add sites.

[2021-03-23 10:57] EmmaY74 commented on #155
If something could be done in order for LAs to add sites would be good particularly as our Local Plan is currently out to consultation.  It would be really interesting to see how our sites compare

[2021-03-23 13:16] dabreegster commented on #155
For importing new sites into the A/B Street simulation, there is a ["self-service" tool](https://a-b-street.github.io/docs/howto/new_city.html#the-easy-method) that just requires somebody to draw the boundary of their area and wait a few minutes for downloading. But the simulation depends on some data generated by the rest of the actdev scripts, so there would have to be automation there anyway.

[2021-04-05 15:16] natesheehan opened #156 "New Sites for "liveable exeter" developments"
I have been asked by [Exeter City Futures](https://www.exetercityfutures.com/) to add 8 new sites to ActDev. The housing developments come from the [liveable exeter](https://www.liveableexeter.co.uk/garden-communities) project.

New developments range from 307 - 5,544 (a whole new town) new houses.

I am currently writing a script to allow new sites to be added (hopefully this could turn into some

[2021-04-05 15:41] mvl22 commented on #156
Have you obtained and specified a CycleStreets API key so that you can access the API service?

See notes at: https://github.com/Robinlovelace/cyclestreets which I presume is ultimately loaded by the code above.

[2021-04-05 15:46] Robinlovelace commented on #156
Great to hear there's demand for new developments! Regarding the specific issue, can you provide a reproducible example to illustrate what is going on? Here is a simple starter for 10 that highlights the need for a CycleStreets API key that @mvl22 mentions as the possible culprit:

[code]

That's a good starter, see the documentation in `?journey` on how to get an API key if that is the issue. `ro

[2021-04-05 17:27] natesheehan commented on #156
Aha! Yes, I expect you are both correct @mvl22 & @Robinlovelace 👏

I have applied for an API key and will keep the thread posted once it's verified 🚀

[2021-04-05 18:48] mvl22 commented on #156
I've pushed that API key request through.

Robin, perhaps the library ought to show an error message if no key is loaded, and calling code ought to check for thrown errors. I'm not sure what error handling is typically done in R so I can't comment on what specific changes should be made, but both of these would be standard good practices.

[2021-04-05 19:42] Robinlovelace commented on #156
Agreed. How is this message?

[code]

<sup>Created on 2021-04-05 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-04-06 14:39] natesheehan commented on #156
Thanks, @mvl22 for setting up my API key so swiftly!

@Robinlovelace  I am still running into the same issues. See reprex example below:

[code]

 I dont think this is an API issue anymore as I can run

[code]
result:
![github](https://user-images.githubusercontent.com/22789869/113727425-0463d880-96ed-11eb-85c4-17f9ebb32c0c.png)

are there any other dependencies that might cause this error?
<detai

[2021-04-06 14:45] Robinlovelace commented on #156
Hi @natesheehan yes it looks like something is up with the `route()` function. It looks the same as an issue that was affecting the Geocomputation with R book's CI build which is based on Docker so it is reproducible, just not on my computer. Not sure what's going on, well worth debugging.

[2021-04-06 14:48] Robinlovelace commented on #156
First thought: could it be the `stplanr` version? I checked the session info on my computer and it says:

[code]

Interestingly the stplanr version doesn't appear in the session info in your comment above.

[2021-04-06 14:52] Robinlovelace commented on #156
Tried again on the CRAN version of stplanr and cannot reproduce the issue on my laptop:

[code]

[2021-04-06 14:55] Robinlovelace commented on #156
This is the line of code that is generating the error message in stplanr I think: https://github.com/ropensci/stplanr/blob/master/R/route.R#L132

[code]

It seems to me that `i` here is a list but it should be a numeric (integer) vector of length 1.

[2021-04-06 14:58] Robinlovelace commented on #156
Heads-up @natesheehan I think I've found the cause. Can you try to install the package `pbapply` and try again? I think this is the issue: https://github.com/ropensci/stplanr/blob/master/R/route.R#L81

[2021-04-06 15:09] natesheehan commented on #156
@Robinlovelace Ayo! You got it! Working perfectly now! Kudos.
I will now give it a go with the ```scenarios-streamlined.R``` file

[2021-04-06 15:13] Robinlovelace commented on #156
Apologies for this weird issue and thanks for raising it. Imagine it has affected others. Good news: I've created an issue that should be a quick fix. https://github.com/ropensci/stplanr/issues/460

[2021-04-06 15:18] natesheehan commented on #156
Glad to be of help, and thanks for debugging so proficiently 🚀 _Good news from me:_ routes are now made for my new site!

[2021-04-07 11:39] joeytalbot opened #157 "Add quote to website front page"
We have permission to add this quote to the ActDev website:

_"This is absolutely glorious and I and many others were simply astounded when we saw it... Go and have a look if you're involved in urban design and place - you won't regret it."
(Kit Allwinter, Active Travel Policy Officer, West Yorkshire Combined Authority)_

[2021-04-08 10:26] #157 closed

[2021-04-12 21:24] natesheehan commented on #156
A simplified method to add a new site is more or less done.  Currently runs fine for `scenarios-streamlined.r` in `build.r`. Should get the rest done by AM.

**TODO before PR**
- [x]  Edit other build.r scripts to use the new all-sites.geojson if necessary
- [x] export new all-sites.geojson when a new case study is added

[2021-04-13 12:54] Robinlovelace commented on #156
Job done I think, great work @natesheehan. One question for @mvl22, should the new site appear in the landing page? The all-sites.GeoJSON is updated and the site is live :tada:

https://actdev.cyipt.bike/exeter-red-cow-village/

[2021-04-13 13:51] natesheehan commented on #155
Hi @EmmaY74 ! We now have the ability to add new sites very quickly.

All we need is a geojson file of the site which includes:
-  site_name (name of the site in lowercase, using - as spaces)
-  full_name (full name of the site)
-  main_local_authority (primary local authority the site is located in)
-  is_complete (Is the site complete, partially complete, or not complete)
-  dwellings_when_compl

[2021-04-13 13:56] Robinlovelace commented on #155
Chiming in here too - don't worry about all that code Emma, all you need is to go to http://geojson.io/#map=2/20.0/0.0 and draw the approximate boundary. We can take care of the rest (also need to know number of dwellings and any other details you may have including link to the planning docs).

[2021-04-13 15:27] natesheehan opened #159 "abstr_scenarios.r not compatible for new sites"
`abstr_scenarios.r` needs to be refactored in order to cater to new sites.

The followig lines are the culprit:
[code]
as `sites_df_abstr.csv` does not contain the new sites.

**Quick fix:** add new site rows before the merge.  Thoughts @Robinlovelace ?

[2021-04-13 15:30] natesheehan commented on #156
@joeytalbot could you share with me the emails of those who wanted to add new sites, as we can now do this now. Also, where do the walk_base_rating, cycle_base_rating and drive_base_rating come from? As these are the only fields missing from the new sites

[2021-04-13 15:31] Robinlovelace commented on #159
Yes I think that should be a fairly quick fix. Also, is the 'disggregation code' failing for other sites also? May be worth opening an issue on that also although it's not a biggy it's important in rural areas where MSOA centroids are few and far between.

[2021-04-13 15:31] natesheehan commented on #156
**New sites added:**
https://actdev.cyipt.bike/northwick-park/buildings/#12/51.57456/-0.31365
https://actdev.cyipt.bike/exeter-red-cow-village/buildings/#12/50.73196/-3.54136

[2021-04-14 11:13] mvl22 commented on #153
The two files copied over to the actdev (non-UI) repo by @Robinlovelace in 40b80fdfb98990c9c63f902389b2a43b5e72a3b6.

I will adjust the website to point to these new files.

Next work is for the R people side of the project to generate the file directly. NB Those two files were generated with this script, so you can see the derivation of the values:
https://github.com/cyipt/actdev-ui/blob/8e1c49f0

[2021-04-14 11:47] Robinlovelace commented on #153
Heads-up I've updated the issue and assigned @natesheehan - any issues you have on this let me know.

[2021-04-14 15:05] natesheehan commented on #153
PR https://github.com/cyipt/actdev/pull/160

[2021-04-14 15:11] natesheehan opened #161 "remove redundant columns in all-sites.geojson"
remove "walk_base_rating", "cycle_base_rating","drive_base_rating"

[2021-04-14 15:15] natesheehan commented on #161
[code]

I have used this on the main branch

[2021-04-14 15:17] Robinlovelace commented on #161
Nice syntax!

[2021-04-14 15:42] #153 closed

[2021-04-14 15:50] Robinlovelace commented on #161
Job done I think, right @natesheehan . Pro tip:

[code]

Would close this issue, give it a try!

[2021-04-14 15:51] Robinlovelace commented on #154
I think we can close this now. Any objections @Siequnu or @joeytalbot ? It's including a different subset of desire lines I think.

[2021-04-14 17:15] Robinlovelace opened #163 "Issues with Chaco import"

[2021-04-14 17:28] Robinlovelace commented on #163
Working on this.

[2021-04-14 17:35] #163 closed

[2021-04-14 19:49] #161 closed

[2021-04-14 21:30] natesheehan opened #164 "mode share logic creating duplications"
[code]
This logic doesn't work for duplicated runs in the build.r script. If the ```new_site``` flag is true, it will continue to add new rows.

Will take a look at making this more resilient tomorrow.

[2021-04-14 21:33] Robinlovelace commented on #116
Fixed at same link above and for all sites I think.

![image](https://user-images.githubusercontent.com/1825120/114782045-6669b100-9d71-11eb-8a0f-d6f24a4a5ed5.png)

[2021-04-14 21:33] #116 closed

[2021-04-15 08:47] natesheehan opened #165 "Programmatically add main local authority to all-sites.geojson"
```main_local_authority``` is currently manually to the all-sites.geojson.  We should change this so it happens programmatically.

For England and Wales, we could query this https://geoportal.statistics.gov.uk/datasets/3ba3daf9278f47daba0f561889c3521a_0
or does this data come from `pct `or `stplanr` @Robinlovelace ?

[2021-04-15 09:01] natesheehan opened #166 "Add installation of packages to build-setup.r"
For those new to R, it might be helpful to add an auto-installation of packages upon build.

Packages:

- https://github.com/rstudio/renv
- https://cran.r-project.org/web/packages/attachment/vignettes/fill-pkg-description.html
- https://rstudio.github.io/packrat/

Are you familiar with any others @Robinlovelace / @joeytalbot ?

[2021-04-15 09:09] Robinlovelace commented on #166
Hi @natesheehan I think it's best to ask users to explicitly install the deps, e.g. with the following command:

[code]

That is simple and transparent via the DESCRIPTION file. Simple is good.

[2021-04-15 09:12] Robinlovelace commented on #165
Good question... I suggest adding a minimal geojson file with UK LAs into the package. I'm not sure at what level planning takes place (any ideas @joeytalbot ?) but as a starter for 10 I think this is the way forward: https://geoportal.statistics.gov.uk/search?q=local%20authority%20boundaries&sort=-modified

[code]

[2021-04-15 09:13] natesheehan commented on #166
Yep love that!

[2021-04-15 09:14] Robinlovelace commented on #165
This is a good place to start: https://github.com/cyipt/popupCycleways/blob/master/pct_la_summaries.geojson

[2021-04-15 09:16] Robinlovelace commented on #166
Here's how to find the deps:

<details>

[code]

<sup>Created on 2021-04-15 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-04-15 12:13] natesheehan commented on #164
This has now been fixed from mine and @Robinlovelace debugging session

[2021-04-15 12:13] #164 closed

[2021-04-15 12:23] natesheehan commented on #156
I have added all the livable Exeter sites required for now, going to close this issue.

[2021-04-15 12:23] #156 closed

[2021-04-16 14:51] Siequnu commented on #154
Good to get insight into the methodology.

[2021-04-16 14:51] #154 closed

[2021-04-16 15:31] #166 closed

[2021-04-19 21:24] natesheehan commented on #159
New branch for adding abstreet files for the new batch of sites https://github.com/cyipt/actdev/tree/abstreet_new_sites_scenarios

Currently adding the new batch of sites by:
[code]

[2021-04-19 21:28] Robinlovelace commented on #159
Looks good to me, look forward to the PR! FYI chatted with @dabreegster and the plan is to get the procgen binary going at some point this week. `abstr` is in need of TLC but the abstreet scenario building script should work. Feel free to open an issue on that, I recall it was crashing when we tried on the test sites.

[2021-04-19 23:09] natesheehan commented on #159
@Robinlovelace Yep, I believe the issue with `abstr-scenarios.r`  is now fixed.

Going to test by adding a new site from the `build.r` script and then will open a PR 🚀

[2021-04-24 13:20] natesheehan commented on #165
Thanks @joeytalbot & @Robinlovelace . I'll self-assign this issue.

Apart from adding the main local authorities programmatically to the `all-sites.geojson` file, do we want to create any monitoring (csv, db, json) for LA's in general. e.g. devon-sites.geojson?

[2021-04-24 21:07] Robinlovelace commented on #165
Thanks @natesheehan !

Regarding your question

No I think just updating the `all-sites.geojson` is enough, wanting to keep the number of files/moving parts to a minimum at this stage. We could add additional fields to that file but that's a low priority.

[2021-04-26 11:20] natesheehan commented on #165
@joeytalbot I have created a PR https://github.com/cyipt/actdev/pull/170 using the new method. The implemented method uses this data:

and the ` sf::sf_intersection` in order to find the LA name.  Let me know if everything looks as it should!

[2021-04-27 11:33] natesheehan commented on #165
New sites and existing sites now include programmatically generated `main_local_authority` ✅

[2021-04-27 11:33] #165 closed

[2021-04-27 11:33] natesheehan commented on #159
Closed with PR https://github.com/cyipt/actdev/pull/169

[2021-04-27 11:33] #159 closed

[2021-04-27 15:19] Robinlovelace commented on #165
Great work Nathanael :fire:

[2021-04-27 19:43] dabreegster opened #171 "brislington-meadows not filled out"
https://github.com/cyipt/actdev/tree/main/data-small/brislington-meadows is missing most files

[2021-04-27 19:56] Robinlovelace commented on #171
Well spotted, not sure what's going on there. Heads-up @natesheehan you up for taking a look?

[2021-04-27 23:58] natesheehan commented on #171
Aha! Brislington meadows (bristol) was a site I never completed.  I'll remove the folder and re-add the site at a later date.

[2021-04-28 08:13] Robinlovelace commented on #171
Closed by https://github.com/cyipt/actdev/commit/4596b6c9cd6f9141339ffdc98336dc71b56813ff right?

[2021-04-28 11:05] #171 closed

[2021-05-19 19:39] Robinlovelace opened #172 "Fields in the site info box are in an illogical order"
Example from Handforth:

![image](https://user-images.githubusercontent.com/1825120/118873397-9f9dbf80-b8e1-11eb-8e85-69177469a05d.png)

It seems we're just showing all the fields, may be worth filtering. Is that easy to do @mvl22 ? Looking at the names, I think we only need to keep the first 6. Could the others be in a 'further information' link, that could just link to the GeoJSON? https://githu

[2021-06-30 09:05] Robinlovelace opened #174 "LCID default scenario does not contain trips originating in the development zone"
Not sure what is causing this but having just demonstrated https://actdev.cyipt.bike/abstreet/?--actdev=lcid&--cam=14.95/53.79136/-1.53469&--actdev_scenario=base I noticed that people are not starting their morning commutes in the development location but seemingly anywhere on the map. Any ideas @dabreegster or @natesheehan ? Will check for other areas. This is what I see (note: LCID is roughly in

[2021-06-30 09:08] Robinlovelace commented on #174
Update: seems people *are* correctly emanating from the Allerton Bywater site but the site boundary is not there.

![image](https://user-images.githubusercontent.com/1825120/123934266-060b0880-d98b-11eb-8af6-8e4eca5b18ab.png)

Source: https://actdev.cyipt.bike/abstreet/?--actdev=allerton-bywater&--cam=12.44/53.75656/-1.41978&--actdev_scenario=base

[2021-06-30 22:53] natesheehan commented on #174
I've had a quick look, and it looks like all the site boundaries aren't showing - I am also getting the same issue as @Robinlovelace for lcid, and unsure what the root issue is, as it's not the case for any other sites . Ill check through the geojson to see if I see anything funky

[2021-07-01 14:09] Robinlovelace commented on #174
Heads-up, I think Dustin has identified the issue (updated A/B Street schema) and documented it here: https://github.com/a-b-street/abstr/issues/29 We could mark this as a duplicate but good to have an issue open in the ActDev repo as that's where people will look.

[2021-07-01 14:23] Robinlovelace opened #175 "Levels of walking and cycling decrease in Tresham"
This isn't good, reported by Amy from HE:

![Peek 2021-07-01 15-21](https://user-images.githubusercontent.com/1825120/124140118-1fda4780-da80-11eb-9209-23c2a06bbbd6.gif)

Suggested solution:

- [ ] Take the scenario offline as it's worse than useless at the moment
- [ ] Diagnose the cause and implement a fix in the codebase

[2021-07-01 18:41] dabreegster commented on #174
The missing study area polygon issue was fixed in
https://github.com/a-b-street/abstreet/commit/ef907217415f0acb2d94480361e3a77ddc617914. Problem is, I don't push a new actdev release often, since it's so painful to upload a ~1GB zip. Last release was [May 19](https://github.com/cyipt/actdev/releases/tag/0.1.23), so it doesn't have this fix.

You can confirm the LCID site boundary is showing up in

[2021-07-01 23:22] natesheehan commented on #175
I believe it's this section of code in the `scenarios_streamlined.r` file that is causing the issue.
[code]
The Tresham site has a pretty low active travel uptake, with only one walking route coming through `stplanr` and the distance of the route is `9897.3`. So the goactive scenario is not being calculated.

@Robinlovelace  whats your thoughts on a fix? Should I add something like to catch this e

[2021-07-02 05:58] Robinlovelace commented on #175
Many thanks for this @natesheehan and good to see it's offline for now. I think your suggestion of adding an increase for 6-10 km routes is good but wondering how realistic that is. Ideally the Go Active scenario should completely disallow walking and cycling levels to drop, with a worse case scenario being cycling_go_active = cycling_baseline and same for walking.

[2021-07-02 06:00] Robinlovelace commented on #174
Great work, thanks Dustin!

[2021-07-03 14:59] natesheehan commented on #175
Agreed - a 6-10km walking commute feels a tad unrealiestic, can we use census data to understand the max distance people walk for work?

[2021-07-05 12:40] Robinlovelace commented on #175
Better option: use the NTS, Census is unreliable for this kind of thing I think.

[2021-07-05 12:46] natesheehan commented on #175
Sounds good , I'll dive into the [nts data ](https://www.gov.uk/government/statistical-data-sets/nts01-average-number-of-trips-made-and-distance-travelled) this eve and see what solutions can be implemented

[2021-07-06 08:55] natesheehan commented on #175
@Robinlovelace OK, so the NTS data documents that the average trip length (all modes) is 6.8 miles (10.9435 km) ([1](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/905924/nts0101.ods))

With regards to mode-specific, the data is coming back weighted ([2](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/

[2021-07-06 12:37] Robinlovelace commented on #175
I think there are tables that give the n. trips by different distance bands here: https://www.gov.uk/government/statistical-data-sets/nts03-modal-comparisons

Furthermore analysing raw NTS data is an option but that requires an academic license and time...

[2021-07-06 20:18] natesheehan commented on #175
Ah, thanks! Looks like the data validates our assumptions, the number of trips falls to zero when > 5 miles (~8km), and even still, the number of trips between 2-5 miles is only 4% of total trips.

Maybe we could edit the `routes_walk_save ` to cater up to 8km, and then if greater than 8km `walking_go_active = walking_baseline` ?

[2021-07-07 11:25] Robinlovelace commented on #175
Needs some more thought. Priority for ActDev I think is #176, you up for taking a look at that and seeing if we can rebuild the scenario.json files with the new and I think improved version of `abstr`?

[2021-07-09 15:00] natesheehan commented on #175
Should we close this issue @Robinlovelace and create a separate issue for the go_active uptake edge case?

[2021-07-09 15:18] Robinlovelace commented on #175
Happy to keep it open as it's still an issue and we can track the solution to the general problem with respect to this specific case.

[2021-07-10 23:03] Robinlovelace opened #178 "Update abstreet scenario generation code to work with latest versions of `abstr` package"
Currently this will fail using the latest versions of `abstr`:

https://github.com/cyipt/actdev/blob/e528051a0a6a85527c1f08c78b5b317bdf955879/code/abstr-scenarios.R#L242-L249

Good news: the latest version of that package will work with origin and destination zones. As documented in https://a-b-street.github.io/abstr/reference/ab_scenario.html the following preprocessing steps enable the input dat

[2021-07-11 11:11] natesheehan opened #179 "rerun scenarios_streamlined.r for sites with invalid desire_line data"
A few sites: including LCID have invalid desire_line data (see https://raw.githubusercontent.com/cyipt/actdev/main/data-small/lcid/desire-lines-few.geojson) where the geocodes are set as 0. This can be fixed by rerunning the scenarios_streamlined.r

[2021-07-11 11:15] natesheehan commented on #178
Nice work Robin! thanks for documenting this, I have taken a look this morning and it seems things are running ok. However in playing around, I have found an issue (#179) with some of our desire_line datasets. This should be fixed by rerunning the dev script for the effected sites.

[2021-07-11 17:17] natesheehan commented on #179
Affected sites ->
[code]

I will rerun the build script for these sites after we merge https://github.com/cyipt/actdev/pull/177

[2021-07-11 23:03] Robinlovelace commented on #178
Great work @natesheehan. Consoling myself on the :soccer: result with some coding :nerd_face:

[2021-07-12 08:06] Robinlovelace commented on #178
I think this is fixed now, right @natesheehan ? Please close if so!

[2021-07-12 08:46] natesheehan commented on #178
Yes this is now working! So lets close this ticket, and today I will rerun the build script re https://github.com/cyipt/actdev/issues/179

[2021-07-12 08:46] #178 closed

[2021-07-19 11:55] natesheehan opened #182 "Modularise build script for various scenarios (new site, selected sites, all sites)"
**Use case**
_As a moderator
I want to be able to rerun the build script for various scenarios (new site, selected sites, all sites)
So that the build script doesn't need to be edited every time we rerun_
----
**To do**
- Enable build for a new site
- Enable build for selected sites
- Enable build for all sites
- Write tests and sanity checks for all scenarios
_Extention:_
- Set up GitHub actions

[2021-08-10 12:47] Robinlovelace opened #184 "Make overview map for paper"

[2021-08-10 13:03] Robinlovelace commented on #184
![image](https://user-images.githubusercontent.com/1825120/128871652-a58df040-3f6a-4102-83fb-b7618f40ba8f.png)

Thoughts @joeytalbot ?

[2021-08-10 13:22] Robinlovelace commented on #184
Result from last commit on this: an overview map. I think this is good at showing the geographic distribution of the study sites but your decision Joey whether to include it. I vote: yes!

![image](https://user-images.githubusercontent.com/1825120/128874542-73b124da-c4af-491b-8279-748f8a29f1b7.png)

[2021-08-10 13:22] #184 closed

[2021-08-10 13:49] Robinlovelace commented on #184
![image](https://user-images.githubusercontent.com/1825120/128878728-16121a9a-26ba-4443-83d0-c05166c7390a.png)

[2021-08-10 13:52] Robinlovelace commented on #184
![image](https://user-images.githubusercontent.com/1825120/128879177-e2576516-d73b-4f7b-be11-0743ba248d46.png)

[2021-08-11 09:47] joeytalbot opened #186 "Cycle circuity looks wrong at Bailrigg"
In `data-small/all-sites.geojson`,  circuity_fast_cycle at Bailrigg is 4.12. This is far too high. When I recalculate using the code in `site-metrics.R` I get 1.14.

[2021-08-11 09:51] joeytalbot opened #187 "Go Active cycle mode share looks wrong at Leeds Climate Innovation District"
In `all-sites.geojson` there is now no increase in cycling from the Baseline to the Go Active scenario, and it stays at 2% - the lowest of all the sites. In a previous version of the results, LCID had one of the highest proportional cycling uptakes in Go Active. I think there is an error here - if you look at the fast cycle route network and the quiet cycle route network, they seem to use totally

[2021-08-18 09:42] Robinlovelace opened #188 "Add content for ActDev booth at CCAC"

[2021-08-19 08:52] #188 closed

[2021-08-19 14:16] Robinlovelace opened #189 "Images in CCAG booth"
Currently they look a bit sketchy. Any ideas on better graphics? Heads-up @mvl22, @joeytalbot and @natesheehan

![image](https://user-images.githubusercontent.com/1825120/130084640-3b693283-4371-4f3e-ae5e-6fe44c6df60e.png)

[2021-08-19 14:18] Robinlovelace commented on #189
Current image: https://github.com/cyipt/actdev/blob/main/figures/lcid-v-wide-image3.png

And icon: https://github.com/cyipt/actdev/blob/main/figures/logo.png

![image](https://user-images.githubusercontent.com/1825120/130084842-aa902c51-edfa-421c-877e-7b00977e040d.png)

![image](https://user-images.githubusercontent.com/1825120/130084925-2a95e53d-0d8a-45f1-916f-bc764855211b.png)

[2021-08-19 14:19] Robinlovelace commented on #189
Note: the top image needs to be 4:1 width:height and icon 1:1 (it's not currently, my bad).

[2021-08-19 14:28] natesheehan commented on #189
Darker backgrounds or a completely new image?
<img width="949" alt="snip" src="https://user-images.githubusercontent.com/22789869/130086258-24caa4ac-655b-4ac0-8a7b-39d4e4fa46e8.png">
<img width="952" alt="snip2" src="https://user-images.githubusercontent.com/22789869/130086506-dca078d7-f571-4a7c-8243-efdd926fd287.png">

[2021-08-19 14:28] Robinlovelace commented on #189
Looking good!

[2021-08-19 14:40] Robinlovelace commented on #189
Related question: will the video in the booth auto record and be available after? Guess so.

[2021-08-19 15:50] Robinlovelace commented on #189
![image](https://user-images.githubusercontent.com/1825120/130100807-a64abea6-0bf3-4f2d-b9e9-b844093417ff.png)

[2021-08-19 15:51] #189 closed

[2021-09-28 12:32] natesheehan opened #190 "Modelling world slides"

[2021-09-28 12:37] natesheehan commented on #190
![image](https://user-images.githubusercontent.com/22789869/135088260-e697f43a-a1b3-4a86-ba23-ba95ad5f8b6e.png)

[2021-09-28 13:21] natesheehan commented on #190
![image](https://user-images.githubusercontent.com/22789869/135095007-475b081c-6b09-435d-bde7-7a1f1079f8a8.png)

[2021-09-28 14:48] natesheehan commented on #190
![image](https://user-images.githubusercontent.com/22789869/135111008-3a4a61fe-bcd9-423d-87ef-25fca35c2158.png)

[2021-09-28 14:51] Robinlovelace commented on #190
Slides looking good from the images posted here!

[2021-09-28 15:24] natesheehan commented on #190
![presentation](https://user-images.githubusercontent.com/22789869/135117293-042da30b-8378-4c60-8ff1-a78162e82af0.gif)
initial design

[2021-09-28 20:15] #190 closed

[2021-09-28 21:24] mvl22 commented on #190
Please fix Simon’s name. Nuttall

[2022-05-23 10:18] joeytalbot opened #192 "When I select the in-site network or journey times layers at Poundbury, it takes me to Tyersal instead"
There seems to be an error with the actdev tool for Poundbury. When I select the site layers for in-site network or journey times, instead of showing me these layers at Poundbury, it takes me to Tyersal Lane and shows me the layers at Tyersal Lane instead. This happens on both Chrome and Firefox. The other layers at Poundbury work as expected. I haven't noticed this happening with any other sites,

[2022-05-28 20:17] mvl22 commented on #192
OK, I can reproduce the issue.

1. Go to https://actdev.cyipt.bike/poundbury/
2. Click Route network button

Will look at this shortly.

[2022-11-19 13:34] Robinlovelace opened #193 "Update figures for paper"
- [x] National map
- [x] Figure 2 can be found here: https://github.com/cyipt/actdev/blob/main/data-small/scenario-overview.png

[2022-11-19 13:43] Robinlovelace commented on #193
Heads-up @joeytalbot I'm working on this and looking for the .png figures now...

[2022-11-19 13:56] Robinlovelace commented on #193
Good news, I found the issue: https://github.com/cyipt/actdev/issues/184

[2022-11-19 14:02] Robinlovelace commented on #193
Updated figure at 300 dpi:

![image](https://user-images.githubusercontent.com/1825120/202854424-afdcee97-2e33-4e57-ab6f-cd837a82e8fd.png)

[2022-11-19 14:03] #193 closed

[2022-11-19 14:17] Robinlovelace opened #194 "Dodgy borders in national overview map"
See #193. There are artefacts like this:

![image](https://user-images.githubusercontent.com/1825120/202855235-961f3b39-4cdd-4862-8a96-1fdcd6de7ce3.png)

[2022-11-19 14:18] #194 closed

[2022-11-24 22:05] mvl22 commented on #192
OK, I've found the cause.

It's because the data is wrong. These are the files that you produced:

https://raw.githubusercontent.com/cyipt/actdev/main/data-small/poundbury/in-site-walk-rnet.geojson
https://raw.githubusercontent.com/cyipt/actdev/main/data-small/poundbury/jts-lsoas.geojson

Poundbury is at this map location: 12/50.71374/-2.46471. Yet you can see these files contain data in locations

[2022-11-24 23:10] Robinlovelace commented on #192
Good data sleuthing @mvl22. I've checked the data and it seems that the dataset is near Bradford: https://github.com/cyipt/actdev/blob/main/data-small/poundbury/in-site-walk-rnet.geojson

@natesheehan I think last updated this file, could you double check other files in that commit? I plan to revert the latest commit in that file in any case.

[2022-11-24 23:14] Robinlovelace commented on #192
Good news, that seems to have fixed it:
![image](https://user-images.githubusercontent.com/1825120/203873201-d68201fe-eb17-44e7-82a0-072b9159f04b.png)

Does the updated app work for you @joeytalbot ?

[2022-11-25 12:36] #192 closed